<a href="https://colab.research.google.com/github/datalover2023/Module_4/blob/main/Budget_UseCase_Module_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Libraries

---

In [1]:
import pandas as pd
import numpy as np

import os
import glob
import shutil
import sys
from pathlib import Path

import datetime

import matplotlib.pyplot as plt
import matplotlib.image as mpimg

from openpyxl import load_workbook # necesserry library

# utility functions for cells locations
!pip install xlsxwriter  # uncomment if necessary
import xlsxwriter
from xlsxwriter.utility import xl_rowcol_to_cell
from xlsxwriter.utility import xl_col_to_name
from xlsxwriter.utility import xl_range, xl_range_abs
from openpyxl.utils import get_column_letter, column_index_from_string

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlsxwriter in /usr/local/lib/python3.9/dist-packages (3.0.8)

In [2]:
# set visible all columns
pd.set_option('display.max_columns', None)

# 1.&nbsp;Settings

## Drive and cwd

In [3]:
# Accessing Google Drive from Google Colab

from google.colab import drive 
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [4]:
# assing current working directory (`cwd`)
cwd = os.getcwd()
cwd

'/content'

In [5]:
os.listdir()

['.config', 'gdrive', 'sample_data']

In [6]:
'''
ng_files=[]
for file in os.listdir('gdrive'):
    if file.endswith('.PNG'): # or '.csv' if your'looinkg for csv files
            png_files.append(file)
            
# it will print out excel names present in current directory folder = 'Basics_Python"
print( 'there are', len(png_files), "png files ")
print(png_files[:4])

'''

'\nng_files=[]\nfor file in os.listdir(\'gdrive\'):\n    if file.endswith(\'.PNG\'): # or \'.csv\' if your\'looinkg for csv files\n            png_files.append(file)\n            \n# it will print out excel names present in current directory folder = \'Basics_Python"\nprint( \'there are\', len(png_files), "png files ")\nprint(png_files[:4])\n\n'

In [7]:
# containing of /content directory
os.listdir()

['.config', 'gdrive', 'sample_data']

## Import Files

In [10]:
# import files into google Colab
from google.colab import files

In [11]:
# upload from your local : images folder .png from your downloads
uploaded = files.upload()

Saving img_1.PNG to img_1.PNG
Saving img_2.PNG to img_2.PNG
Saving img_3.PNG to img_3.PNG
Saving img_4.PNG to img_4.PNG
Saving img_5.PNG to img_5.PNG
Saving img_6.PNG to img_6.PNG
Saving img_7.PNG to img_7.PNG
Saving img_8.PNG to img_8.PNG
Saving img_9.PNG to img_9.PNG
Saving img_10.PNG to img_10.PNG
Saving img_11.PNG to img_11.PNG
Saving img_12.PNG to img_12.PNG
Saving img_13.PNG to img_13.PNG
Saving img_14.PNG to img_14.PNG
Saving img_15.PNG to img_15.PNG
Saving img_16.PNG to img_16.PNG
Saving img_17.PNG to img_17.PNG
Saving img_18.PNG to img_18.PNG
Saving img_19.PNG to img_19.PNG
Saving img_20.PNG to img_20.PNG
Saving img_21.PNG to img_21.PNG
Saving img_22.PNG to img_22.PNG
Saving img_23.PNG to img_23.PNG
Saving img_24.PNG to img_24.PNG
Saving img_25.PNG to img_25.PNG
Saving img_26.PNG to img_26.PNG
Saving img_28_1.PNG to img_28_1.PNG
Saving img_29_1.PNG to img_29_1.PNG
Saving img_30_0.PNG to img_30_0.PNG
Saving img_31.PNG to img_31.PNG
Saving img_31_1.PNG to img_31_1.PNG
Saving img_32.PNG to img_32.PNG
Saving img_33.PNG to img_33.PNG
Saving img_34.PNG to img_34.PNG
Saving img_35.PNG to img_35.PNG
Saving img_36.PNG to img_36.PNG
Saving img_37.PNG to img_37.PNG
Saving img_38.PNG to img_38.PNG
Saving img_39.PNG to img_39.PNG

In [12]:
# containing of /content directory, see if images were uploaded
os.listdir()

['.config',
 'img_12.PNG',
 'img_7.PNG',
 'img_32.PNG',
 'img_31_1.PNG',
 'img_25.PNG',
 'img_21.PNG',
 'img_16.PNG',
 'img_23.PNG',
 'img_17.PNG',
 'img_30_0.PNG',
 'img_37.PNG',
 'gdrive',
 'img_28_1.PNG',
 'img_3.PNG',
 'img_2.PNG',
 'img_20.PNG',
 'img_10.PNG',
 'img_38.PNG',
 'img_26.PNG',
 'img_19.PNG',
 'img_31.PNG',
 'img_11.PNG',
 'img_36.PNG',
 'img_1.PNG',
 'img_18.PNG',
 'img_22.PNG',
 'img_13.PNG',
 'img_5.PNG',
 'img_15.PNG',
 'img_8.PNG',
 'img_6.PNG',
 'img_14.PNG',
 'img_39.PNG',
 'img_33.PNG',
 'img_4.PNG',
 'img_35.PNG',
 'img_24.PNG',
 'img_34.PNG',
 'img_29_1.PNG',
 'img_9.PNG',
 'sample_data']

## Module_4 folder

In [14]:
# uncoment if you want to reinitilize Module_4

# delete folder Model_4 with all containing
# shutil.rmtree('/content/gdrive/MyDrive/Module_4')

In [15]:
# create a floder Module_4 where you'll store files

# create a new folder called "Module_4"

# First: 
# write the path to the "Module_4" sub_directory
folder = cwd + '/' + 'gdrive/MyDrive/Module_4/images' # == > /content/gdrive/MyDrive/Module_4/images
print(folder)

# Second:
# create the folder at the indicated path
os.makedirs(folder) # create an empty folder, if you're getting an error [Errno 17] File exists, then delete it with shutil.rmtree
# if you're getting an error of File exist, then uncoment previous cell with command shutil.rmtree('/content/gdrive/MyDrive/Module_4')

/content/gdrive/MyDrive/Module_4/images

In [16]:
# check files in Module_4 directory
os.listdir('/content/gdrive/MyDrive/Module_4')

['images']

In [17]:
# containing of folder images
os.listdir('/content/gdrive/MyDrive/Module_4/images')

[]

In [18]:
# select all .png and move them to folder Module_3/Images

# searchin for all files with extention .png
# and store the into a list png_files

png_files=[]
for file in os.listdir():
    if file.endswith('.PNG'): # or '.csv' if your'looinkg for csv files
            png_files.append(file)
            
# it will print out excel names present in current directory folder = 'Basics_Python"
print( 'there are', len(png_files), "png files ")
print(png_files[:4])

there are 39 png files
['img_12.PNG', 'img_7.PNG', 'img_32.PNG', 'img_31_1.PNG']

In [19]:
# move all images into folder MOdule_4/Images

folder = '/content/gdrive/MyDrive/Module_4/images'

for image in png_files:
  shutil.move(image, # file/folder to cut
              folder) # folder where to move

In [20]:
# check if images were moved from cwd
os.listdir()

['.config', 'gdrive', 'sample_data']

In [21]:
# check files in Module_4
os.listdir('gdrive/MyDrive/Module_4')

['images']

In [22]:
# check files present in Module_4/Images, all the images were transfered to Module_4/images
os.listdir('/content/gdrive/MyDrive/Module_4/images')

['img_12.PNG',
 'img_7.PNG',
 'img_32.PNG',
 'img_31_1.PNG',
 'img_25.PNG',
 'img_21.PNG',
 'img_16.PNG',
 'img_23.PNG',
 'img_17.PNG',
 'img_30_0.PNG',
 'img_37.PNG',
 'img_28_1.PNG',
 'img_3.PNG',
 'img_2.PNG',
 'img_20.PNG',
 'img_10.PNG',
 'img_38.PNG',
 'img_26.PNG',
 'img_19.PNG',
 'img_31.PNG',
 'img_11.PNG',
 'img_36.PNG',
 'img_1.PNG',
 'img_18.PNG',
 'img_22.PNG',
 'img_13.PNG',
 'img_5.PNG',
 'img_15.PNG',
 'img_8.PNG',
 'img_6.PNG',
 'img_14.PNG',
 'img_39.PNG',
 'img_33.PNG',
 'img_4.PNG',
 'img_35.PNG',
 'img_24.PNG',
 'img_34.PNG',
 'img_29_1.PNG',
 'img_9.PNG']

In [23]:
# change cwd to Module_4
os.chdir('gdrive/MyDrive/Module_4')
# check the new current working directory now
cwd = os.getcwd()
cwd # folder MOdule_3 will be from now on our cwd

'/content/gdrive/MyDrive/Module_4'

In [24]:
# upload from your local : 'Budget_raw.xlsx'
uploaded = files.upload()

Saving Budget_raw.xlsx to Budget_raw.xlsx

In [25]:
# check if Budget_raw.xlsx is on cwd ==> Module_4
os.listdir()

['images', 'Budget_raw.xlsx']

In [26]:
os.listdir('/content/gdrive/MyDrive/Colab Notebooks')

['Budget_UseCase_Module_4.ipynb']

In [27]:
# check the notebook in your Colab Notebooks

# if you want to delete a specific notebook in your drive, uncomment
#os.unlink('/content/gdrive/MyDrive/Colab Notebooks/Budget_UseCase_Module_4.ipynb')
#os.unlink('/content/gdrive/MyDrive/Colab Notebooks/Copy of Budget_UseCase_Module_4 (1).ipynb')
#os.unlink('/content/gdrive/MyDrive/Colab Notebooks/Copy of Budget_UseCase_Module_4 (2).ipynb')
#os.unlink('/content/gdrive/MyDrive/Colab Notebooks/Copy of Budget_UseCase_Module_4 (3).ipynb')

# check again the files in Colab Notebooks
os.listdir('/content/gdrive/MyDrive/Colab Notebooks')

['Budget_UseCase_Module_4.ipynb']

In [28]:
# if you save it in Drive and it was saved as a copy then rename it 

# rename
'''
os.rename('/content/gdrive/MyDrive/Colab Notebooks/Copy of Budget_UseCase_Module_4.ipynb', 
          '/content/gdrive/MyDrive/Colab Notebooks/Budget_UseCase_Module_4.ipynb') 

'''

# check again the files in Colab Notebooks
os.listdir('/content/gdrive/MyDrive/Colab Notebooks')

['Budget_UseCase_Module_4.ipynb']

In [29]:
# check if you have the latest version of notebook
# get the time of file creation/modification

import time
 
# Path to the file/directory
path = "/content/gdrive/MyDrive/Colab Notebooks/Budget_UseCase_Module_4.ipynb"
# path = "Budget_UseCase_Module_4.ipynb" # from cwd
 
# Both the variables would contain time

ti_c = os.path.getctime(path) # time of creation
ti_m = os.path.getmtime(path) # time of modification


# Converting the time in seconds to a timestamp
c_ti = time.ctime(ti_c)
m_ti = time.ctime(ti_m)
 
print(f"The file located at the path {path} \
was created at {c_ti} and was "
      f"last modified at {m_ti}")

The file located at the path /content/gdrive/MyDrive/Colab Notebooks/Budget_UseCase_Module_4.ipynb was created at Thu Mar  9 23:25:32 2023 and was last modified at Thu Mar  9 23:25:32 2023

In [30]:
# copy notebook "Excel_processing_Basics_Colab_Module_4" in your cwd MOdule_4

folder = '/content/gdrive/MyDrive/Module_4' # path to were to move
notebook = '/content/gdrive/MyDrive/Colab Notebooks/Budget_UseCase_Module_4.ipynb' # path from the where to get the notebook

# copy (or move) from google colab to module_4, if you like to move ==> .move
shutil.copy(notebook, # file/folder to cut/copy
            folder) # folder where to move

'/content/gdrive/MyDrive/Module_4/Budget_UseCase_Module_4.ipynb'

In [31]:
#containing of cwd
os.listdir()

['images', 'Budget_raw.xlsx', 'Budget_UseCase_Module_4.ipynb']

In paralel, 



*   we will be working with *pandas* : for data operations, like summing, % change, group by... 
*   we will be working with *openpyxl* to write the modifications in excel: inserting/writing new columns at locations we want

# 2.&nbsp;DF pandas, read Excel

## Loading excel in DF

In [32]:
# read excel 'Budget_raw.xlsx' and load it in a dataframe

filename='Budget_raw.xlsx'
# read the excel
df = pd.read_excel(filename, 
                   header=0) # the row 0 will be as our headers
df = pd.DataFrame(df)
# df = df.set_index(['Region', 'Business', 'Department'])

# display first 8 rows
df.head(8)

,Business,Department,Region,Jan Income,Feb Income,Mar Income,Apr Income,May Income,Jun Income,Jan Expenditure,Feb Expenditure,Mar Expenditure,Apr Expenditure,May Expenditure,Jun Expenditure
0,B2C_1,Loans,AT,5924.95,4680.71,7406.19,7169.19,7406.19,5213.96,5178.13,3883.60,3534.08,4240.90,3731.99,4217.15
1,B2C_1,Loans,AT,5924.95,7346.94,6872.94,4739.96,6280.45,6576.69,3913.87,3835.59,4410.93,4058.06,4220.38,5064.46
2,B2C_1,Loans,AT,5924.95,7406.19,6043.45,6161.95,6161.95,5924.95,4386.71,3377.77,3411.55,3206.86,3399.27,3229.31
3,B2C_1,Services,AT,5924.95,5865.70,7406.19,4858.46,5984.20,7169.19,4840.73,4743.92,5692.70,5123.43,4867.26,5500.00
4,B2C_1,Loans,AT,5924.95,6280.45,6102.70,6339.70,5865.70,6458.20,5875.00,5698.75,5983.69,6701.73,7505.94,8481.71
5,B2C_1,Loans,AT,5867.90,7334.88,6102.62,4987.72,6043.94,6396.01,2229.34,2162.46,2551.70,2908.94,3112.57,3237.07
6,B2C_1,Loans,AT,5824.70,6814.90,6989.64,4543.27,6465.42,5649.96,2199.00,1737.21,2015.16,2115.92,1883.17,1977.33
7,B2C_1,Loans,AT,5924.95,5391.70,4976.96,7346.94,6102.70,5806.45,3924.12,3767.16,4068.53,3987.16,4505.49,3964.83

## Explore the DF

In [33]:
# dimensions and column names

print('df dimensions: ', df.shape)
print('df lengh: ', len(df))
print('df columns: ', df.columns)

df dimensions:  (1937, 15)
df lengh:  1937
df columns:  Index(['Business', 'Department', 'Region', 'Jan Income', 'Feb Income',
       'Mar Income', 'Apr Income', 'May Income', 'Jun Income',
       'Jan Expenditure', 'Feb Expenditure', 'Mar Expenditure',
       'Apr Expenditure', 'May Expenditure', 'Jun Expenditure'],
      dtype='object')

In [34]:
# check data types for each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1937 entries, 0 to 1936
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Business         1937 non-null   object
 1   Department       1937 non-null   object
 2   Region           1937 non-null   object
 3   Jan Income       1937 non-null   float64
 4   Feb Income       1937 non-null   float64
 5   Mar Income       1937 non-null   float64
 6   Apr Income       1937 non-null   float64
 7   May Income       1937 non-null   float64
 8   Jun Income       1937 non-null   float64
 9   Jan Expenditure  1937 non-null   float64
 10  Feb Expenditure  1937 non-null   float64
 11  Mar Expenditure  1937 non-null   float64
 12  Apr Expenditure  1937 non-null   float64
 13  May Expenditure  1937 non-null   float64
 14  Jun Expenditure  1937 non-null   float64
dtypes: float64(12), object(3)
memory usage: 227.1+ KB

In [35]:
# how many Business categories

df['Business'].unique()

array(['B2C_1', 'B2B', 'Fleet', 'B2C_2'], dtype=object)

In [36]:
# how many Departmens categories

df['Department'].unique()

array(['Loans', 'Services', 'Assistance', 'Maintenance', 'Fees'],
      dtype=object)

In [37]:
# how many Regions categories

df['Region'].unique()

array(['AT', 'BE', 'DE', 'DK', 'FR', 'IE', 'IT', 'NL', 'PL', 'PT', 'UK'],
      dtype=object)

# 3.&nbsp;Excel workbook

## Load in workbook

In [39]:
# load a workbook in wb var
# be carefull, the excel file should be closed on your computer in order to access it

# load Budget_raw.xlsx workbook
filename = 'Budget_raw.xlsx'
wb = load_workbook(filename= filename, #relative path
                   #read_only=True, # optimised for reading, content cannot be edited
                   data_only =True) # controls whether cells with formulae have either the formula (default) or the value stored the last time Excel read the sheet

In [40]:
# get sheetnames of the workbook
wb.sheetnames

['Data', 'Department']

## Metadata

We can explore/ add some metadata about the excel, like : author, description, some keywords...

In [41]:
# Metadata => information about your excel
wb.properties

<openpyxl.packaging.core.DocumentProperties object>
Parameters:
creator=None, title=None, description=None, subject=None, identifier=None, language=None, created=datetime.datetime(2017, 6, 9, 0, 53, 13), modified=datetime.datetime(2022, 11, 21, 13, 49), lastModifiedBy=None, category=None, contentStatus=None, version=None, revision=None, keywords=None, lastPrinted=None

In [42]:
# add some metadata about the excel

wb.properties.title  = 'Budget_Processed Excel Automation'
wb.properties.creator  = 'Cristina Teleuca'
wb.properties.description  = 'Excel Manipulation with Python openpyxl' 
wb.properties.keywords  = ['Excel', 'Automation', 'Python', 'openpyxl']
wb.properties.created = datetime.datetime(2023, 2, 1, 8, 00, 00)
wb.properties.modified = datetime.datetime.now()

wb.properties

<openpyxl.packaging.core.DocumentProperties object>
Parameters:
creator='Cristina Teleuca', title='Budget_Processed Excel Automation', description='Excel Manipulation with Python openpyxl', subject=None, identifier=None, language=None, created=datetime.datetime(2023, 2, 1, 8, 0), modified=datetime.datetime(2023, 3, 10, 2, 17, 48, 483411), lastModifiedBy=None, category=None, contentStatus=None, version=None, revision=None, keywords="['Excel', 'Automation', 'Python', 'openpyxl']", lastPrinted=None

## Worksheet

In [43]:
# assign sheet for sheetname 'Data' the sheet we'll work with
sheet = wb['Data']
sheet.title

'Data'

In [44]:
# get nb of rows of a sheet
print(sheet.max_row)

# get nb of columns of a sheet
print(sheet.max_column)

1938
15

In [45]:
# save the workbook into another excel "Budget_processed.xlsx" 
wb.save('Budget_processed.xlsx') # just to have 2 versions: the original one and the processed one with modifications
# check if the new excel file was created
os.listdir()

['images',
 'Budget_raw.xlsx',
 'Budget_UseCase_Module_4.ipynb',
 'Budget_processed.xlsx']

# 4.&nbsp;Excel exploration/ Dimensions/ Locations

## XL range

In [46]:
df.head()

,Business,Department,Region,Jan Income,Feb Income,Mar Income,Apr Income,May Income,Jun Income,Jan Expenditure,Feb Expenditure,Mar Expenditure,Apr Expenditure,May Expenditure,Jun Expenditure
0,B2C_1,Loans,AT,5924.95,4680.71,7406.19,7169.19,7406.19,5213.96,5178.13,3883.60,3534.08,4240.90,3731.99,4217.15
1,B2C_1,Loans,AT,5924.95,7346.94,6872.94,4739.96,6280.45,6576.69,3913.87,3835.59,4410.93,4058.06,4220.38,5064.46
2,B2C_1,Loans,AT,5924.95,7406.19,6043.45,6161.95,6161.95,5924.95,4386.71,3377.77,3411.55,3206.86,3399.27,3229.31
3,B2C_1,Services,AT,5924.95,5865.70,7406.19,4858.46,5984.20,7169.19,4840.73,4743.92,5692.70,5123.43,4867.26,5500.00
4,B2C_1,Loans,AT,5924.95,6280.45,6102.70,6339.70,5865.70,6458.20,5875.00,5698.75,5983.69,6701.73,7505.94,8481.71

Compute df_range with xl_range()

The xl_range() function converts zero based row and column cell references to an A1:B1 style range string

In [48]:
# compute the range of the whole dataframe 
max_row, max_col = df.shape
print('df shape: ', max_row, max_col) 

# the df range in excel (A1:O1938)
ws_range = xl_range(0, # starting row
                    0, # starting column
                    max_row, # last row index # 1937
                    max_col - 1) # 15-1 ==>  last column -1 as the index starts a 0
print('in excel the df cellrange is : ', ws_range) # !!!! don't forget to update df_range if you're adding new col or rows

df shape:  1937 15
in excel the df cellrange is :  A1:O1938

In [49]:
# Access all cells from A1 to 05
for idx, row in enumerate(sheet['A1:O5']):
    print(idx+1, [x.value for x in row])

1 ['Business', 'Department', 'Region', 'Jan Income', 'Feb Income', 'Mar Income', 'Apr Income', 'May Income', 'Jun Income', 'Jan Expenditure', 'Feb Expenditure', 'Mar Expenditure', 'Apr Expenditure', 'May Expenditure', 'Jun Expenditure']
2 ['B2C_1', 'Loans', 'AT', 5924.95, 4680.71, 7406.19, 7169.19, 7406.19, 5213.96, 5178.13, 3883.6, 3534.08, 4240.9, 3731.99, 4217.15]
3 ['B2C_1', 'Loans', 'AT', 5924.95, 7346.94, 6872.94, 4739.96, 6280.45, 6576.69, 3913.87, 3835.59, 4410.93, 4058.06, 4220.38, 5064.46]
4 ['B2C_1', 'Loans', 'AT', 5924.95, 7406.19, 6043.45, 6161.95, 6161.95, 5924.95, 4386.71, 3377.77, 3411.55, 3206.86, 3399.27, 3229.31]
5 ['B2C_1', 'Services', 'AT', 5924.95, 5865.7, 7406.19, 4858.46, 5984.2, 7169.19, 4840.73, 4743.92, 5692.7, 5123.43, 4867.26, 5500]

In [50]:
# let's create a dictionnary where we'll store dimensions/locations of our excel

ws_loc = {'max_row': max_row,
          'max_col': max_col,
          'df_shape': df.shape,
          'ws_range': ws_range    
         }

ws_loc

{'max_row': 1937,
 'max_col': 15,
 'df_shape': (1937, 15),
 'ws_range': 'A1:O1938'}

## Upper left corner

In [51]:
# start indices
start_point = xl_rowcol_to_cell(0,0) # coordinates of top lef of df
start_col = xl_col_to_name(0)# # get the column letter for first column
print("start point:", start_point,     
      "start col:", start_col)

start point: A1 start col: A

In [52]:
# add them to the ws_loc

ws_loc['start_point']= start_point
ws_loc['start_col']= start_col
ws_loc

{'max_row': 1937,
 'max_col': 15,
 'df_shape': (1937, 15),
 'ws_range': 'A1:O1938',
 'start_point': 'A1',
 'start_col': 'A'}

## Lower right corner

In [53]:
# end indices
end_point = xl_rowcol_to_cell(max_row, max_col-1) # # coordinates of bottom right of df
end_col = xl_col_to_name(max_col-1) # get the column letter for the last column
end_row = max_row + 1 # last row in excel (+1)
# get the index nb of column O
end_col_idx = column_index_from_string(end_col)

In [54]:
# add them to the ws_loc

ws_loc['end_point']= end_point
ws_loc['end_col']= end_col
ws_loc['end_col_idx']= end_col_idx
ws_loc['end_row']= end_row

ws_loc

{'max_row': 1937,
 'max_col': 15,
 'df_shape': (1937, 15),
 'ws_range': 'A1:O1938',
 'start_point': 'A1',
 'start_col': 'A',
 'end_point': 'O1938',
 'end_col': 'O',
 'end_col_idx': 15,
 'end_row': 1938}

## Columns

Iterate through columns to get a better feeling of columns names and their respective indices

In [55]:
# read all values from 1st row
print('nb of rows: ' , sheet.max_row)
print('nb of columns: ' , sheet.max_column)
print('')

print('column indices and names: ... ')
print('')

# iterate the 1st row values of the sheet, to see the col nb in excel and it's name
for i in range(1, sheet.max_column+1): # add + 1, as the range function 2nd argument is not inclusive
    ref = sheet.cell(row=1, column=i)
    print(ref.column, ref.value)

nb of rows:  1938
nb of columns:  15

column indices and names: ...

1 Business
2 Department
3 Region
4 Jan Income
5 Feb Income
6 Mar Income
7 Apr Income
8 May Income
9 Jun Income
10 Jan Expenditure
11 Feb Expenditure
12 Mar Expenditure
13 Apr Expenditure
14 May Expenditure
15 Jun Expenditure

In [56]:
# iterate the 1 Column values of the sheet of the sheet up tp 10th row
for i in range(1, 10 + 1): # add + 1, as the range function 2nd argument is not inclusive
    ref = sheet.cell(row=i, column=1)
    print(ref.column, ref.value)

1 Business
1 B2C_1
1 B2C_1
1 B2C_1
1 B2C_1
1 B2C_1
1 B2C_1
1 B2C_1
1 B2C_1
1 B2C_1

In [57]:
# iterate the 2nd Column values of the sheet of the sheet up tp 10th row
for i in range(1, 10 + 1): # add + 1, as the range function 2nd argument is not inclusive
    ref = sheet.cell(row=i, column=2)
    print(ref.column, ref.value)

2 Department
2 Loans
2 Loans
2 Loans
2 Services
2 Loans
2 Loans
2 Loans
2 Loans
2 Loans

In [58]:
# iterate the last_column values of the sheet up tp 10th row
last_column = sheet.max_column

for i in range(1, 10 + 1): # add + 1, as the range function 2nd argument is not inclusive
    ref = sheet.cell(row=i, column=last_column)
    print(ref.column, ref.value)

15 Jun Expenditure
15 4217.15
15 5064.46
15 3229.31
15 5500
15 8481.71
15 3237.07
15 1977.33
15 3964.83
15 2583

# Part 1: Totals and Net columns

# 5.&nbsp;Add columns: Income, Expenditure, Net

We want to add 3 columns to our df:

1.   **Total Income** (sum of all months with Income: from Jan to June)
2.   **Total Expenditure** (sum of all months with Expenditure: from Jan to June)
3.   **Net** (Net revenue = Total Income - Total Expenditure)
4. We we'll need to update ws_locations because of modifications

## Total Income

**"Total Income" column in DF with pandas**

Because, we want to do it automatically...

1.   Identify columns that concerns the Income
2.   Sum all Income columns
3.   Reorder columns, so Total Income will be after last month with 
4. Add header Total Income

**1.**   Identify columns that have the string Income in it

In [59]:
# how to find a substring in a string

fullstring = "StackAbuse"
substring = "tack"

if substring in fullstring:
    print("Found!")
else:
    print("Not found!")

Found!

In [60]:
## create an empty lis where we'll store column names that heve the string "Income" in it
income_col=[]

## iterate through column indices
for col in range(0, len(df.columns)):
    if 'Income' in df.columns[col]: #  identify column index for column with Income
        income_col.append(col) # if column is identify store its index in the income_col list

# the indices of columns that have sustring Income in it
print('columns with Income:', income_col) # the list with column indices that have Income in columns

columns with Income: [3, 4, 5, 6, 7, 8]

In [61]:
# limits of Income interval
# assign variables with the start column index and the end column index
income_start= income_col[0] # 1st element in the list ==> 3
income_end= income_col[-1] # last element in the list ==> 8

# the 1st and the last col that have Income in it
print('first:', income_start, 'last:', income_end)

first: 3 last: 8

In [62]:
# add them to ws_locations

ws_loc['income_col']=income_col
ws_loc['income_start']=income_start
ws_loc['income_end']=income_end

ws_loc

{'max_row': 1937,
 'max_col': 15,
 'df_shape': (1937, 15),
 'ws_range': 'A1:O1938',
 'start_point': 'A1',
 'start_col': 'A',
 'end_point': 'O1938',
 'end_col': 'O',
 'end_col_idx': 15,
 'end_row': 1938,
 'income_col': [3, 4, 5, 6, 7, 8],
 'income_start': 3,
 'income_end': 8}

In [67]:
# check those columns at found indices in df with .iloc
df.iloc[:, income_start:income_end+1] # we need to add +1 to income_end as the upper limit is not included,
# .... and we want to make sure the last col is included (Jun)

      Jan Income  Feb Income  Mar Income  Apr Income  May Income  Jun Income
0        5924.95     4680.71     7406.19     7169.19     7406.19     5213.96
1        5924.95     7346.94     6872.94     4739.96     6280.45     6576.69
2        5924.95     7406.19     6043.45     6161.95     6161.95     5924.95
3        5924.95     5865.70     7406.19     4858.46     5984.20     7169.19
4        5924.95     6280.45     6102.70     6339.70     5865.70     6458.20
...          ...         ...         ...         ...         ...         ...
1932      562.75      512.10      664.05      478.34      619.03      472.71
1933     5924.95     6991.44     7169.19     4443.71     4858.46     7406.19
1934      480.00      393.60      470.40      412.80      384.00      600.00
1935      400.00      464.00      448.00      424.00      420.00      384.00
1936       20.21       19.81       15.36       15.56       22.64       22.03

[1937 rows x 6 columns]

**2.**   Compute Total Income

In [69]:
# 2.compute the total income and assign it in a new column in the df
# and add a new column 'Total Income' that will store the some of columns

df['Total Income'] = df.iloc[:, income_start:income_end+1].sum(axis=1) # axis=1 is  the column axis
df.head() #the column 'Total Income' was added at the the en

,Business,Department,Region,Jan Income,Feb Income,Mar Income,Apr Income,May Income,Jun Income,Jan Expenditure,Feb Expenditure,Mar Expenditure,Apr Expenditure,May Expenditure,Jun Expenditure,Total Income
0,B2C_1,Loans,AT,5924.95,4680.71,7406.19,7169.19,7406.19,5213.96,5178.13,3883.60,3534.08,4240.90,3731.99,4217.15,37801.19
1,B2C_1,Loans,AT,5924.95,7346.94,6872.94,4739.96,6280.45,6576.69,3913.87,3835.59,4410.93,4058.06,4220.38,5064.46,37741.93
2,B2C_1,Loans,AT,5924.95,7406.19,6043.45,6161.95,6161.95,5924.95,4386.71,3377.77,3411.55,3206.86,3399.27,3229.31,37623.44
3,B2C_1,Services,AT,5924.95,5865.70,7406.19,4858.46,5984.20,7169.19,4840.73,4743.92,5692.70,5123.43,4867.26,5500.00,37208.69
4,B2C_1,Loans,AT,5924.95,6280.45,6102.70,6339.70,5865.70,6458.20,5875.00,5698.75,5983.69,6701.73,7505.94,8481.71,36971.70

**3.** Order Columns

In [70]:
# We want to add the Total Income after the last month of Incoms

print('we want to add it after col:', income_end)

we want to add it after col: 8

In [71]:
# order: we want to order columns so Total Income would follow the Income columns
# cut and insert the column after all Income months columns

df.insert(income_end + 1, # at what index to insesrt
          'Total Income', # Label of the inserted column.
          df.pop('Total Income')) # will return the column Total Income and will drop it from DF's end

df.head() # now Total income disapeared from the end of df, and was inserted after col 8, and has index 9

,Business,Department,Region,Jan Income,Feb Income,Mar Income,Apr Income,May Income,Jun Income,Total Income,Jan Expenditure,Feb Expenditure,Mar Expenditure,Apr Expenditure,May Expenditure,Jun Expenditure
0,B2C_1,Loans,AT,5924.95,4680.71,7406.19,7169.19,7406.19,5213.96,37801.19,5178.13,3883.60,3534.08,4240.90,3731.99,4217.15
1,B2C_1,Loans,AT,5924.95,7346.94,6872.94,4739.96,6280.45,6576.69,37741.93,3913.87,3835.59,4410.93,4058.06,4220.38,5064.46
2,B2C_1,Loans,AT,5924.95,7406.19,6043.45,6161.95,6161.95,5924.95,37623.44,4386.71,3377.77,3411.55,3206.86,3399.27,3229.31
3,B2C_1,Services,AT,5924.95,5865.70,7406.19,4858.46,5984.20,7169.19,37208.69,4840.73,4743.92,5692.70,5123.43,4867.26,5500.00
4,B2C_1,Loans,AT,5924.95,6280.45,6102.70,6339.70,5865.70,6458.20,36971.70,5875.00,5698.75,5983.69,6701.73,7505.94,8481.71

In [72]:
# update ws_loc
ws_loc['total_inc_df']= income_end + 1

ws_loc

{'max_row': 1937,
 'max_col': 15,
 'df_shape': (1937, 15),
 'ws_range': 'A1:O1938',
 'start_point': 'A1',
 'start_col': 'A',
 'end_point': 'O1938',
 'end_col': 'O',
 'end_col_idx': 15,
 'end_row': 1938,
 'income_col': [3, 4, 5, 6, 7, 8],
 'income_start': 3,
 'income_end': 8,
 'total_inc_df': 9}

Let's have look where Income stands in the excel, and update the excel with Total Income as well

In [73]:
# find column number of column Jan Income in Excel
for i in range(1, sheet.max_column):
    ref = sheet.cell(row=1, column=i)
    if ref.value == 'Jan Income':
        print('in EXCEL the column nb for Jan Income is: ', ref.column)

in EXCEL the column nb for Jan Income is:  4

In [79]:
# find columns number that have Income months in df

income_col_xl = []
for i in range(1, sheet.max_column):# because we're in excel the index starts at 1
    ref = sheet.cell(row=1, column=i)
    if 'Income' in ref.value:
        income_col_xl.append(ref.column)

print(income_col_xl)

[4, 5, 6, 7, 8, 9]

In [80]:
# compute the index where to insert a column for Total Income in excel
total_inc_col = income_col_xl[-1] + 1
# we would like to insert the column Total Income at column 10
print(total_inc_col)

10

In [81]:
# update ws_loc

ws_loc['income_col_xl']= income_col_xl
ws_loc['income_Total_col_xl']= total_inc_col

ws_loc

{'max_row': 1937,
 'max_col': 15,
 'df_shape': (1937, 15),
 'ws_range': 'A1:O1938',
 'start_point': 'A1',
 'start_col': 'A',
 'end_point': 'O1938',
 'end_col': 'O',
 'end_col_idx': 15,
 'end_row': 1938,
 'income_col': [3, 4, 5, 6, 7, 8],
 'income_start': 3,
 'income_end': 8,
 'total_inc_df': 9,
 'income_col_xl': [4, 5, 6, 7, 8, 9],
 'income_Total_col_xl': 10}

In [82]:
# insert column at this index
sheet.insert_cols(idx= total_inc_col, # column location
                  amount=1) # how many columns to insert


wb.save('Budget_processed.xlsx')

In [84]:
df.head()

,Business,Department,Region,Jan Income,Feb Income,Mar Income,Apr Income,May Income,Jun Income,Total Income,Jan Expenditure,Feb Expenditure,Mar Expenditure,Apr Expenditure,May Expenditure,Jun Expenditure
0,B2C_1,Loans,AT,5924.95,4680.71,7406.19,7169.19,7406.19,5213.96,37801.19,5178.13,3883.60,3534.08,4240.90,3731.99,4217.15
1,B2C_1,Loans,AT,5924.95,7346.94,6872.94,4739.96,6280.45,6576.69,37741.93,3913.87,3835.59,4410.93,4058.06,4220.38,5064.46
2,B2C_1,Loans,AT,5924.95,7406.19,6043.45,6161.95,6161.95,5924.95,37623.44,4386.71,3377.77,3411.55,3206.86,3399.27,3229.31
3,B2C_1,Services,AT,5924.95,5865.70,7406.19,4858.46,5984.20,7169.19,37208.69,4840.73,4743.92,5692.70,5123.43,4867.26,5500.00
4,B2C_1,Loans,AT,5924.95,6280.45,6102.70,6339.70,5865.70,6458.20,36971.70,5875.00,5698.75,5983.69,6701.73,7505.94,8481.71

In [85]:
# write values ot Total Income computed with pandas in df, at the column we just inserted

# save the column 'Total Income' from df computed with pandas in list cellrange

cellrange = df['Total Income']

# the column index (in excel) where we want to write
print('write in Excel the values of Total Income in column:', total_inc_col)

# starting row 2
row= 2 # because the row_1 are the headers

# write the elements from cellrange in excel at index total_inc_col
for i in range(0, len(cellrange)):
    sheet.cell(row=row, column = total_inc_col).value= cellrange[i]
    row=row+1

# save the modifications
wb.save('Budget_processed.xlsx')

write in Excel the values of Total Income in column: 10

In [ ]:
# in updated excel, we inserted + wrote values for Total Income (after June Income)

for idx, row in enumerate(sheet['A1:K5']):
    print(idx+1, [x.value for x in row])

4. Add header Total Income

In [ ]:
# now we want to write the header 'Total Income' in the excel
# for this:

# 1st we need to compute the location of this header

# write column name for Total expenditure as a header
# compute this location...
total_inc_col_letter = get_column_letter(total_inc_col)
total_inc_row = 1
total_inc_cel_ref = str(total_inc_col_letter) + str(total_inc_row)
print('the cel ref for Total Income header: ', total_inc_cel_ref)

In [ ]:
# 2nd, write the string/header Total Income in Excel
# write it in excel 
sheet[total_inc_cel_ref]= 'Total Income'
#save modification
wb.save('Budget_processed.xlsx') 

# now our excel look like this:

for idx, row in enumerate(sheet['A1:K3']):
    print(idx+1, [x.value for x in row])

In [ ]:
# display image
img = mpimg.imread('images/img_1.PNG')
plt.rcParams['figure.figsize'] = [18, 16]
plt.imshow(img)

plt.axis('off')
plt.show()

In [ ]:
# add column letter Total Income ws_loc
print(total_inc_col_letter)
ws_loc['total_inc_col_letter_xl'] = total_inc_col_letter

## Total Expenditure

Total Expenditure in DF

In [ ]:
# first compute total Exp for all months in df

# identify column index for column with Income
expenditure_col=[]
for col in range(0, len(df.columns)):
    if 'Expenditure' in df.columns[col]:
        expenditure_col.append(col)

print('Exp columns: ', expenditure_col)

# 1st col with Exp
expenditure_start= expenditure_col[0]

# last col with Exp
expenditure_end= expenditure_col[-1]

In [ ]:
#check those columns at found indices 
df.iloc[:, expenditure_start:expenditure_end+1]

In [ ]:
# compute the total income and assign it in a new column in the df
df['Total Expenditure'] = df.iloc[:, expenditure_start:expenditure_end+1].sum(axis=1)
df.head() #the column was added at the the end

In [ ]:
# Total Expenditure column idx in df
total_exp_df = df.columns.get_loc("Total Expenditure")

# Total Expenditure column idx in excel
total_exp_xl = total_exp_df + 1

# Total exp col letter
total_exp_col_letter = get_column_letter(total_exp_xl)

In [ ]:
# update ws_loc

ws_loc['expenditure_col']= expenditure_col
ws_loc['expenditure_start']=expenditure_start
ws_loc['expenditure_end']=expenditure_end
ws_loc['total_exp_df']= total_exp_df
ws_loc['total_exp_xl']= total_exp_xl
ws_loc['total_exp_col_letter']= total_exp_col_letter


ws_loc

In [ ]:
# find column number of column Jan Exp
for i in range(1, sheet.max_column):
    ref = sheet.cell(row=1, column=i)
    if ref.value == 'Jan Expenditure':
        print('the column nb for Jan Expenditure is: ', ref.column)

In [ ]:
# find column number that have Exp months

expenditure_col_xl = []
for i in range(1, sheet.max_column+1):# without + 1
    ref = sheet.cell(row=1, column=i)
    if 'Expenditure' in ref.value:
        expenditure_col_xl.append(ref.column)

print(expenditure_col_xl)

In [ ]:
expenditure_start_xl= expenditure_col_xl[0]
expenditure_end_xl= expenditure_col_xl[-1]

print('expenditure starts at column: ', get_column_letter(expenditure_start_xl),
      'expenditure end at column: ', get_column_letter(expenditure_end_xl))

In [ ]:
# update ws_loc

ws_loc['expenditure_col_xl']= expenditure_col_xl
ws_loc['expenditure_start_xl']=expenditure_start_xl
ws_loc['expenditure_end_xl']=expenditure_end_xl

ws_loc

In [ ]:
# display image
img = mpimg.imread('images/img_1.PNG')
plt.rcParams['figure.figsize'] = [16, 16]
plt.imshow(img)

plt.axis('off')
plt.show()

In [ ]:
# compute idx where to copy/past the total for expenditure
total_exp_col = expenditure_col_xl[-1]+1
total_exp_col

In [ ]:
cellrange = round(df['Total Expenditure'], 2)
row= 2
for i in range(0, len(cellrange)):
    sheet.cell(row=row, column = total_exp_col).value= cellrange[i]
    row=row+1

wb.save('Budget_processed.xlsx')

In [ ]:
# write column name for Total expenditure
total_exp_col_letter = get_column_letter(total_exp_col)
total_exp_row = 1
total_exp_cel_ref = str(total_exp_col_letter) + str(total_exp_row)
total_exp_cel_ref

In [ ]:
sheet[total_exp_cel_ref]= 'Total Expenditure'
wb.save('Budget_processed.xlsx')

In [ ]:
for idx, row in enumerate(sheet['H1:Q5']):
    print(idx+1, [x.value for x in row])

In [ ]:
# display image
img = mpimg.imread('images/img_2.PNG')
plt.rcParams['figure.figsize'] = [12, 10]
plt.imshow(img)
plt.axis('off')
plt.show()

## Net

We would like to add a new column "Net" at the end of the columns
that would soubstract Total Exp from Total Exp

In [ ]:
df.head()

In [ ]:
# compute Net column in df
df['Net']= df['Total Income'] - df['Total Expenditure']
df.head()

In [ ]:
# take values for column Net from df
# and put them into a list cellrange

cellrange = list(round(df['Net'], 2))
cellrange[:10]

In [ ]:
# insert header 'Net' at index 0 (1st position)
cellrange.insert(0, 'Net')
cellrange[:10]

In [ ]:
# Net column idx in df
net_col = df.columns.get_loc("Net")
print(net_col)

In [ ]:
# Net column idx in excel

net_col_xl = net_col + 1

In [ ]:
# add them to ws_loc

ws_loc['net_col_df'] = net_col
ws_loc['net_col_xl'] = net_col_xl
ws_loc['net_col_letter'] = get_column_letter(net_col_xl)

In [ ]:
# from row 1
row= 1
# write  cellrange in excel at column net_col

for i in range(0, len(cellrange)):
    sheet.cell(row=row, column = net_col_xl).value= cellrange[i]
    row=row+1

# save
wb.save('Budget_processed.xlsx')

In [ ]:
for idx, row in enumerate(sheet['H1:R5']):
    print(idx+1, [x.value for x in row])

In [ ]:
# display image
img = mpimg.imread('images/img_3.PNG')
plt.rcParams['figure.figsize'] = [12, 10]
plt.imshow(img)
plt.axis('off')
plt.show()

In [ ]:
# save
wb.save('Budget_processed.xlsx')

In [ ]:
# download file from Drive to your local machine

# files.download("Budget_processed.xlsx")

Update ws_loc after modifications

In [ ]:
ws_loc

In [ ]:
# compute the range of the whole dataframe 
max_row, max_col = df.shape

# the df range in excel 
ws_range = xl_range(0, # starting row
                    0, # starting column
                    max_row, 
                    max_col - 1)                 

# end indices
end_point = xl_rowcol_to_cell(max_row, max_col-1) # # coordinates of bottom right of df
end_col = xl_col_to_name(max_col-1) # get the column letter for the last column
end_col_idx = column_index_from_string(end_col)

In [ ]:
ws_loc['max_col']= max_col
ws_loc['df_shape'] = df.shape
ws_loc['ws_range'] = ws_range
ws_loc['end_point'] = end_point
ws_loc['end_col'] = end_col
ws_loc['end_col_idx'] = end_col_idx

ws_loc

# Part 2: Overview

# 6.&nbsp;Overview

Now we'd like to work on the overview part

The OVERVIEW df will contain:

1.  Row with months, by Income + 'Total' and Expenditure +  'Total'
2.  Row with headers, wether it's Income or Exp
3.  Rows for every **Business** (B2B, B2C1, B2C_2, Fleet) with totals for every month for Income and Expenditure + total of totals for Income and Expenditure
4.  Row Monthly Total (Totals by month, accros all businesses), by Inc and Exp
5.  Row with M2M evolution ( % evolution from month to month,  by Income and Expenditure
6.  Row with a cell values of Previous Month Total for Inc and Exp + cells with string Prior
7.  strings in the 1st column: Month, Motnhly total, M2M evoltion, each Business category
8.  Insert the overview part in the sheet 'Data' at the top of the sheet

In [ ]:
# overview part
img = mpimg.imread('images/img_4.PNG')
plt.rcParams['figure.figsize'] = [18, 14]
plt.imshow(img)

plt.axis('off')
plt.show()

In [ ]:
# orange:  for header + month+ TOTAL
# yellow: totals by month for each business
# red:  totals by monhtù + total across businesses
# blue: M2M ev ==> % change
# purple+ green : eaders for rows

img = mpimg.imread('images/img_6.PNG')
plt.imshow(img)
plt.rcParams['figure.figsize'] = [12, 10]
plt.axis('off')
plt.show()

First, we'll create a new sheet "Overview" where we'll work on Overview part data

Once it's done, we will copy / insert it above "Data" df, in the sheet 'Data'

In [ ]:
# check the workbook sheet
print(wb.sheetnames)

In [ ]:
# remove the sheet
#rm = wb['Overview']
#wb.remove(rm)

In [ ]:
# create sheet 'Overview'

wb.create_sheet(title='Overview')

overview= wb['Overview'] # create reference to the sheet# delete a sheet

# check the workbook sheet
print(wb.sheetnames)

# save the new workbook 
wb.save('Budget_processed.xlsx')

## 6.1&nbsp;Months

Get all the months present in the df

In [ ]:
# identify column index for column with Income
months=[]
for month in df.columns:
    if 'Income' in month:
        months.append(month)
        
print(months) # you can inspect all variables created to this point
# by clicking icon Variables {x} in the Table of contents section

Remove "Income' substring from months and total by using function map

In [ ]:
# map function allows to apply a function in an iteration

def myfunc(a):
  return len(a)

x = map(myfunc, ('apple', 'banana', 'cherry'))

print(x) # the output will be a map object

# convert the map into a list, for readability:
print(list(x))

In [ ]:
# remove the substring ' Income' from the list items "months"
# then "map" them with months ==> apply the removing of 'Income' to the list <months>
# convert it to a list

months = list(map(lambda x: x.replace(' Income',''), months)) # map function allows to apply a function in an iteration
print('nb of months: ', len(months))

# save in variable nb_months the nb of monthe
nb_months = len(months)

print('')
print('We will have the same months for in our Data for INcome, and Expenditure as well')
months

In [ ]:
# create a dictionary to store info about overview

overview_dict = {'months' : months,
                 'nb_months': nb_months             
                }

## 6.2&nbsp;Headers Income or Expenditure

### Income

In [ ]:
# create a list where the string "INCOME" will be repeated 7 times
# we multiply ['INCOME'] by the length of months (here 7) 

list_income= ['INCOME']* (nb_months) # create a list that will contain the string Income x nb_months times
print(len(list_income))
list_income

In [ ]:
# we'll do a nested list "list_inc_2" that will contain both lists:
# list_income AND months + Total

list_inc_2 = [list_income, months]
print(len(list_inc_2[0])) # each sub_list will have 7 elements
print(list_inc_2)

### Expenditure

Let's do the same for Expenditure..

In [ ]:
list_expenditure= ['Expenditure']*(nb_months)
list_exp_2 = [list_expenditure, months]
print(len(list_exp_2[0])) # each sub_list will have 7 elements
print(list_exp_2)

Combine the 2 nested lists with zip function

**zip() function**


The zip() function takes iterables (can be zero or more), aggregates them in a tuple, and returns it. (it's like combining items from both lists)

In [ ]:
# example of zip() function
languages = ['Expenditure', 'Expenditure']
versions = ['Jan', 'Feb']

result = zip(languages, versions)
print(list(result)) # the output wil be a nested list containint tuples

In [ ]:
# combine 2 nested lists list_inc_2 and list_exp_2
# and put it in a list

# the output of a zip is a tuple
# but as we put it in a list..
# the final output here will be a list, containing 2 tuples, each tuple containing 2 lists:...
#  ...headers 'Income' and months + Total and headers Expenditure and months + Total
list(zip(list_inc_2, list_exp_2))

In [ ]:
# let's do the same with list_inc_2, list_exp_2
# but will modify a little bit, so in final we'll have lists and not tuples
# and also we will flatten/ merge to obtain a single list by tuple
# finally we will obtain a nested list inc_exp

inc_exp = [a + b for a, b in zip(list_inc_2, list_exp_2)]
inc_exp #the final output a nested list, containing 2 sublist: ...
# ...all headers INcome + Exp and all month + Total respectively

Add the Inc, Exp names rows and months rows to overview

In [ ]:
# compute dimensions of the nested list inc_exp

for subl in inc_exp:
  print(subl)

# how many itmes in nested list
maxr = len(inc_exp) # the lenght of the nested list 

# how many subitmes in each sublist within the nested list
maxc = len(inc_exp[0]) # the lenght of sublist in the nested list

print('')
print('dimensions of our nested list inc_exp: ... ')
print(maxr , maxc)

In [ ]:
# add them to overview dict

overview_dict['list_income']= list_income
overview_dict['list_expenditure']= list_expenditure
overview_dict['nested list inc_exp']= inc_exp
overview_dict['nb rows of nested inc_exp']= maxr
overview_dict['nb cols of nested inc_exp']= maxc
overview_dict

In [ ]:
# write this nested list to excel, in the sheet overview by iteration

# iterate each rows
for this_row in range (1, maxr + 1):# add + 1, beacause we want to include the upper limit
    # for each row, iterate through each col 
    for this_column in range (1, maxc + 1): # add + 1, beacause we want to include the upper limit
        #print(this_row) ==> at the first iteration will have the row 1
        #print(this_column) => while the iteration of the 1st row will not be finisshed, we will iterate through columns, that will change incrementally
        cellsource = inc_exp[this_row-1][this_column-1] # in the nested list <<inc_exp>> get the right indices (so in 1st iteration: inc_exp[0][0]....
                                                       #  then this indices will increment [0][1] => [0][2] => ... [1][0], [1][1]...)   
                                                       # so the var <<cellsource>> will get dynamically the values of inc_exp at respective indices
        overview.cell(row = this_row+1, column = this_column+1).value = cellsource # then write this value in the ws "overview" at cell ref(row= +1, column= + 1)
        # we're adding +1 for rows and cols because we want to leave space for 'Prior Month' row
        # and + 1 for row, because we want to leave some space in the 1st col, where we will add some rowheaders later

# see what was written
for idx,row in enumerate(overview["A1:O3"]):
    print (idx+1, [x.value for x in row])

In [ ]:
# we have added first 2 rows (headers Income + Exp and Months + Total) for the Overview part
# row nb 2, col B

img = mpimg.imread('images/img_5.PNG')
plt.imshow(img)
plt.rcParams['figure.figsize'] = [12, 10]
plt.axis('off')
plt.show()

In [ ]:
# save the new workbook 
wb.save('Budget_processed.xlsx')

In [ ]:
# download file from Drive to your local machine
# files.download("Budget_processed.xlsx")

## 6.3&nbsp;Monthly totals by business

In [ ]:
# total by busines type by month (yellow), split afterwards by INCOME and EXP

img = mpimg.imread('images/img_6.PNG')
plt.imshow(img)
plt.rcParams['figure.figsize'] = [12, 10]
plt.axis('off')
plt.show()

### Income by Business

To get Months Totals by Business, we'll do a groupby:


*   First, for Income
*   Compute Total Month for Income
*   Second, for Expend
*   Compute Total Month for Exp

In [ ]:
# columns name in df
df.columns

In [ ]:
# In df, identify column index for column with Income, without Total

# first all
income_months=[]
for month in df.columns:
    if 'Income' in month:
        income_months.append(month)
print(income_months) # all Incomes

In [ ]:
# remove 'Total Income' from the list
income_months.remove('Total Income')
print(income_months)

In [ ]:
# Distinct Business categories
df.Business.unique()

In [ ]:
# comute totals by business group for income

# first create a df= business_income where it will group by business for each month

## use groupby method

#### we want to group by criteria Business
#### and all columns that are in list "income_moths"
print('income_months:', income_months)
print('')

### and we want to use the aggregation sum()

print('grouped df by Busines: ...')
business_income = round(df.groupby(['Business'])[income_months].sum(), 2)

# final df of grouping by BUsiness, and suming each month...for INCOME
business_income

In [ ]:
# add a columns where total for all months for income will be computed

## in our df "business_income", add a new column "Total Income"
## "Total Income" will be the sum of col 'Jan Income', 'Feb Income', 'Mar Income', 'Apr Income', 'May Income', 'Jun Income' for each row
business_income['Total Income'] = round(business_income.sum(axis=1), 2) # axis=1 columns
business_income

### Expenditure by Business

In [ ]:
# identify column index for column with Income
exp_months=[]
for month in df.columns:
    if 'Expenditure' in month:
        exp_months.append(month)
        
# remove 'Total Income' from the list
exp_months.remove('Total Expenditure')
print(exp_months)

In [ ]:
business_exp = round(df.groupby(['Business'])[exp_months].sum(), 2)
business_exp['Total Expenditure'] = round(business_exp.sum(axis=1), 2)
business_exp

In [ ]:
# join the 2 df, side by side horizontally
business_df = pd.concat([business_income, business_exp], axis=1) #axis=1 ==>columns
business_df

In [ ]:
# we groupby by busines (the yellow part)
# review scrrenshot !!!!
img = mpimg.imread('images/img_6.PNG')
plt.rcParams['figure.figsize'] = [14, 14]
plt.imshow(img)

plt.axis('off')
plt.show()

## 6.4&nbsp;Row Monthly Total

In [ ]:
# MonthlyTotal (red part)
# review scrrenshot !!!!
img = mpimg.imread('images/img_6.PNG')
plt.imshow(img)
plt.rcParams['figure.figsize'] = [14, 14]
plt.axis('off')
plt.show()

 Totals by month, accros all businesses, by Inc and Exp ==> Get the totals by rows for each columns of business_df (yellow part)

In [ ]:
business_df.head(3)

In [ ]:
# get all col names in a list

business_col = business_df.columns.to_list()
business_col

In [ ]:
# get Total by Month (in column)

monthly_total = round(business_df[business_col].sum(axis=0), 2)
print(len(monthly_total))
monthly_total

## 6.5&nbsp;M2M evolution

In [ ]:
# M2m evolution (% change from month to month) ==> blue part

img = mpimg.imread('images/img_6.PNG')
plt.imshow(img)
plt.rcParams['figure.figsize'] = [12, 10]
plt.axis('off')
plt.show()

In [ ]:
# reminder of our monthly total (red part)
monthly_total

In [ ]:
# make a copy pf monthly_total and save it as ev

ev = monthly_total.copy()

# as we don't want to include in our pct change evo Total Income, and TOtal Exp
# we will assign then None value

ev['Total Income'] = None
ev['Total Expenditure'] = None
ev

In [ ]:
# compute % ev from M2M
ev = round(ev.pct_change(fill_method='ffill'), 4)
print(ev)
# this will return Nan for the 1st item, and there where we had None, the output will be 0

print('')
print('it will compute the evolution in % from month to month ')
print('')
print('pay attention to Total Income, Jan Exp and Total Exp')

In [ ]:
# replace with None

ev['Total Income'] = None
ev['Jan Expenditure'] = None
ev['Total Expenditure'] = None
ev

In [ ]:
# we have computed evolution from month to month, that further (when formating) will be formated as a %
# the blue part

img = mpimg.imread('images/img_6.PNG')
plt.imshow(img)
plt.rcParams['figure.figsize'] = [12, 10]
plt.axis('off')
plt.show()

## 6.5&nbsp;Previous Month

In [ ]:
# Previous month lime color

img = mpimg.imread('images/img_6.PNG')
plt.imshow(img)
plt.rcParams['figure.figsize'] = [12, 10]
plt.axis('off')
plt.show()

In [ ]:
# compute previous month ....

## find the previous month in the list <<months>>, knowing that 'Total' should be ommitted

print(months)

## if we ommit Total element (that has the index -1) , the last month has the index -2, than the previous month will have the index -3

## save previous month in the variable previou_month
previous_month = months[months.index("Total")-2]
previous_month
#months.index(previous_month)

### Income

In [ ]:
# compute the range uptil the previous month for INCOME

inc_idx= [] # create empty list where we will store indices where we're havine Income
range_end = [] # create empty list where we will save the range_end of these indices

# in the income columns
for idx, col in enumerate(business_df.columns): # iterate df columns with enumaration to get the index and the iterable (col name)
    if 'Income' in col: # if col has 'Income' in it
        inc_idx.append(idx) # then add its index to inc_idx (index start at 0)
        if previous_month in col: # if previous month is in col names
              range_end= idx # then range_end value will be assigned with value of id
                
print("Income starts at index:", min(inc_idx)) # 1st index of column that contain Income
print("index for previous month for Income ",  range_end) # index where we get to previous month
print('')

# list that will contain 2 indices: 1st index for Income, 2nd Index of Income for Previous month
range_prev_inc = [min(inc_idx), range_end]
print(range_prev_inc) # uptil May

In [ ]:
# what we get up to May using the computed indices
business_df.iloc[:, min(inc_idx):range_end+1] # +1 as in range do not include upper limit

In [ ]:
# first sum all columns
# 2nd sum all rows

previous_income = business_df.iloc[:, # all rows
                                   # columns that start at inc_idx (0) and end at range_end+1 (5) ..we add + 1 because upper limit not included
                                   min(inc_idx):range_end+1].sum(axis=1).sum() # sum of columns axis =1 ==> columns axis

# the total Income till the previous month                                  
previous_income

In [ ]:
# Write this value 'Prior' in excel

# first we need to identify the coordinates where to copy the value
# we know that this cell will be above Total Columns (Total Income and TOtal Expenditure)

# Previous month lime color

img = mpimg.imread('images/img_6.PNG')
plt.imshow(img)
plt.rcParams['figure.figsize'] = [12, 10]
plt.axis('off')
plt.show()

In [ ]:
# we want to write the value previous income above , in the column where we have TOtal

# compute column indices where we have the string Total in overview sheet

total_col = []
# find column number of column that = Total
for i in range(1, overview.max_column+1):# without + 1
    ref = overview.cell(row=3, column=i)
    if ref.value == 'Total':
        total_col.append(ref.column)
        print('the column nb for Total is: ', ref.column)

# indices inf overview sheet where we're having Totals
print(total_col)

In [ ]:
# find the cell reference where we'll add previous income

# check the column letter for Previous Totals Income
print('the column where to add Previous Total for INCOME', get_column_letter(total_col[0]))

# check cell ref for value of Previous Total Income
row = 1 # row nb where to paste previous income value
ref = str(get_column_letter(total_col[0])) + str(row) # get the cell ref

print('the cell reference where to add Previous Total for INCOME', ref)

In [ ]:
# write it in Excel using ref
overview[ref] = round(previous_income,2)
overview[ref].value

In [ ]:
# check excel
for idx, row in enumerate(overview):
   print(idx+1, [x.value for x in row])

In [ ]:
# add string Prior month next to the value of Previous month of Income

print(total_col) # columns that have Totals
row = 1
ref = str(get_column_letter(total_col[0]-1)) + str(row) # get the ref cel for row 1, and col = element with idx from total_col[0] -1
print(ref)
overview[ref] = 'Prior'
overview[ref].value

In [ ]:
# see what was written
# we have added next to the TOtal of previous month, the string Prior
for idx,row in enumerate(overview):
    print (idx+1, [x.value for x in row])

In [ ]:
# save 
wb.save('Budget_processed.xlsx')

In [ ]:
# download file from Drive to your local machine

# files.download("Budget_processed.xlsx")

### Expenditure

In [ ]:
# compute the range uptil the previous month for expenditure to sum

inc_idx= []
range_end = []

# in the exp columns
for idx, col in enumerate(business_df.columns):
    if 'Expenditure' in col:
        inc_idx.append(idx)
        if previous_month in col:
              range_end= idx 
                
range_prev_exp = [min(inc_idx), range_end]

# compute all prior exp
previous_exp = business_df.iloc[:, min(inc_idx):range_end+1].sum(axis=1).sum()

# cell ref
row = 1 # row nb where to paste previous income value
ref = str(get_column_letter(total_col[1])) + str(row)

# write it in Excel value
overview[ref] = round(previous_exp,2)


# string Prevous month
ref = str(get_column_letter(total_col[1]-1)) + str(row)  # get the ref cel for row 1, and col = element with idx from total_col[1] -1
overview[ref] = 'Prior'

In [ ]:
# see what was written in excel, overview sheet
for idx,row in enumerate(overview):
    print (idx+1, [x.value for x in row])

In [ ]:
wb.save('Budget_processed.xlsx')

In [ ]:
# in excel all lime (Prior), orange: headers Income& Exp, Months + Total

img = mpimg.imread('images/img_6.PNG')
plt.imshow(img)
plt.rcParams['figure.figsize'] = [12, 10]
plt.axis('off')
plt.show()

In [ ]:
# download file from Drive to your local machine
# files.download("Budget_processed.xlsx")

## 6.6&nbsp;Write Monthly Total, M2M ev, Totals grouped by Business

First, conctenate red (Monthly Total) + blue 5M2M ev) + yellow (total by busines by month df

In [ ]:
# up to ths point our computaions

# red:  totals by month + total across businesses
# blue: ev M2M blue
# yellow: totals by month for each business



img = mpimg.imread('images/img_6.PNG')
plt.imshow(img)
plt.rcParams['figure.figsize'] = [12, 10]
plt.axis('off')
plt.show()

In [ ]:
# Till now we computed in df:

# monthly_total (red part)
print(len(monthly_total))
print( monthly_total[:7])
print('')

# monthly evolution (blue part)
print(len(ev))
print( ev[:7])
print('')

# business_df (yellow part)
print(business_df.shape)
print(business_df.iloc[:, :7])
print('')

In [ ]:
# copy business_df into a temporary df temp
temp = business_df.copy()

# reset index (this will add a new column => Business)
temp = temp.reset_index()

# drop this column 'Business from temp
temp = temp.drop(['Business'], axis=1)

# insert at row 0 Monthly Total
temp = pd.DataFrame(np.insert(temp.values, 0, values=monthly_total, axis=0), columns= temp.columns)

# insert at row 1 Monthly ev
temp = pd.DataFrame(np.insert(temp.values, 1, values=ev, axis=0), columns= temp.columns)

print(temp.shape)

# values that we want to add to overview sheet
temp.values

In [ ]:
# reminder of overview sheet

for idx, row in enumerate(overview):
  print(idx+1, [x.value for x in row])

In [ ]:
# the values of our df temp, is a nested list, each sublist being a row
for subl in temp.values:
  print(subl)

In [ ]:
# how many itmes in nested list
tempr = len(temp.values) # the lenght of the nested list 

# how many subitmes in each sublist within the nested list
tempc = len(temp.values[0]) # the lenght of sublist in the nested list

print('')
print('dimensions of our nested list inc_exp: ... ')
print(tempr , tempc)

In [ ]:
# write this temp.values to  excel, in the sheet overview by iteration

# iterate each rows
for this_row in range (1, tempr + 1):# add + 1, beacause we want to include the upper limit
    # for each row, iterate through each col 
    for this_column in range (1, tempc + 1): # add + 1, beacause we want to include the upper limit
        #print(this_row) ==> at the first iteration will have the row 1
        #print(this_column) => while the iteration of the 1st row will not be finisshed, we will iterate through columns, that will change incrementally
        cellsource = temp.values[this_row-1][this_column-1] # in the temp.values get the right indices (so in 1st iteration: temp[0][0]....
                                                       #  then this indices will increment [0][1] => [0][2] => ... [1][0], [1][1]...)   
                                                       # so the var <<cellsource>> will get dynamically the values of temp.values at respective indices
        overview.cell(row = this_row+3, column = this_column+1).value = cellsource # then write this value in the ws "overview" at cell ref(row= +3, column= + 1)
        # we're adding +3 for rows and cols because we want to write the values starting row 4
        # and + 1 for col, because we want to leave some space in the 1st col, where we will add some rowheaders later

In [ ]:
# see what was written
for idx,row in enumerate(overview):
    print (idx+1, [x.value for x in row])

In [ ]:
# save
wb.save('Budget_processed.xlsx')

In [ ]:
# download file from Drive to your local machine
# files.download("Budget_processed.xlsx")

## 6.7&nbsp;Row labels

Write labels for row in col 1

In [ ]:
# row labels in 1st column
img = mpimg.imread('images/img_6.PNG')
plt.imshow(img)
plt.rcParams['figure.figsize'] = [12, 10]
plt.axis('off')
plt.show()

In [ ]:
# labels we want to write
cellrange= ['Month', 'MonthlyTotal', 'M2M ev', 'B2B', 'B2C_1', 'B2C_2', 'Fleet']
cellrange

In [ ]:
# starting row
row= 3
# write  cellrange in excel at column 1

for i in range(0, len(cellrange)):
    overview.cell(row=row, column = 1).value= cellrange[i]
    row=row+1

In [ ]:
# see what was written
for idx,row in enumerate(overview):
    print (idx+1, [x.value for x in row])

In [ ]:
# save
wb.save('Budget_processed.xlsx')

In [ ]:
# download file from Drive to your local machine
# files.download("Budget_processed.xlsx")

# 7&nbsp;Insert overview sheet to Data sheet

In [ ]:
# reminder of our sheets
wb.sheetnames

In [ ]:
# the Data sheet was saved in var sheet
sheet.title

We want to copy/paste the overview_df from sheet 'Overvew' to sheet 'Data' on the top 

For this we'll need function to copyRange, pasteRange, function to define the dimensions of dfs

## Functions def

In [ ]:
#define the function copyRange()

def copyRange(startCol, startRow, endCol, endRow, sheet):
    rangeSelected = []
    # Loops through selected Rows
    for i in range(
      startRow,endRow + 1,1):
        # Appends the row to a RowSelected list
        rowSelected = []
        for j in range(startCol,endCol+1,1):
            rowSelected.append(sheet.cell(row = i, column = j).value)
        # Adds the RowSelected List and nests inside the rangeSelected
        rangeSelected.append(rowSelected)

    return rangeSelected

In [ ]:
# define the function pasteRange()
def pasteRange(startCol, startRow, endCol, endRow, sheetReceiving, copiedData):
    countRow = 0
    for i in range(startRow,endRow+1,1):
        countCol = 0
        for j in range(startCol,endCol+1,1):
            
            sheetReceiving.cell(row = i, column = j).value = copiedData[countRow][countCol]
            countCol += 1
        countRow += 1

In [ ]:
# write a function that will compute the accurate nb of rows by omitting blanks
def get_maximum_rows_blank(*, sheet_object):
    rows = 0
    for max_row, row in enumerate(sheet_object, 1):
        if  not all(col.value is None for col in row):
            rows += 1
        
    return rows

# call the new function
get_maximum_rows_blank(sheet_object = overview)

In [ ]:
# write a function that will compute the accurate nb of rows including the blanks, up to the last non blanks
def get_maximum_rows(*, sheet_object):
    df_range= 'A1:' + str(get_column_letter(sheet_object.max_column)) + str(sheet_object.max_row)
    rows = 0
    for idx, row in enumerate(sheet_object[df_range]): # values_only=True meanse we want to access the values
        if not all(col.value is None for col in row):
            rows += 1
            last_row = idx+1
    return last_row

get_maximum_rows(sheet_object = overview)

In [ ]:
def get_maximum_cols(sheet):
    for i in range(2, 20000):
        if sheet.cell(row=1, column= i).value == None:
            max_col = i
            break
    return max_col-1

We want to copy/paste in the excel, sheet overview with function 
pasteRange() in the sheet Data

But first, we need to compute the range where to paste

In [ ]:
# dimensions of overview

print('rows: ',get_maximum_rows(sheet_object = overview))
print('columns: ', overview.max_column)

## Insert / Copy /  Paste overview

In [ ]:
# we want to insert the data frame from overview sheet to Data sheet

# Steps
# Insert rows on Data sheet
# Copy celrange from overview sheet
# Paste copied cellrane to Datasheeet
# delete overview sheet that we won't need anymore

In [ ]:
# back to our sheet called Data
sheet.title

In [ ]:
# reminder of sheet
for idx,row in enumerate(sheet['A1:R4']):
    print (idx+1, [x.value for x in row])

### Insert

In [ ]:
# insert +2 extra rows at the top of Data sheet , starting at row 1

# insert rows

sheet.insert_rows(idx=1, # row location
                  amount=get_maximum_rows(sheet_object = overview) + 2) # how many rows to insert
wb.save('Budget_processed.xlsx')

In [ ]:
# reminder of sheet
for idx,row in enumerate(sheet['A1:R14']):
    print (idx+1, [x.value for x in row])

In [ ]:
# inserted rows in Data sheet

img = mpimg.imread('images/img_9.PNG')
plt.imshow(img)
plt.rcParams['figure.figsize'] = [12, 10]
plt.axis('off')
plt.show()

### Copy overview range

In [ ]:
print('rows: ',get_maximum_rows(sheet_object = overview))
print('columns: ', overview.max_column)

In [ ]:
# copy the overview df

selectedRange = copyRange(startCol =1,
                          startRow= 1,
                          endCol= overview.max_column+1 ,
                          endRow = get_maximum_rows(sheet_object = overview),
                          sheet = overview)

print(len(selectedRange))

for row in selectedRange:
    print(row)

### Paste

In [ ]:
pasteRange(startCol = 1,
           startRow = 2, 
           endCol= overview.max_column, 
           endRow = get_maximum_rows(sheet_object = overview)+1,
           sheetReceiving= sheet,
           copiedData = selectedRange)

# see what was written
for idx,row in enumerate(sheet["A1:R15"]):
    print (idx+1, [x.value for x in row])

In [ ]:
# past rows in Data sheet

img = mpimg.imread('images/img_10.PNG')
plt.imshow(img)
plt.rcParams['figure.figsize'] = [12, 10]
plt.axis('off')
plt.show()

In [ ]:
#save 
wb.save('Budget_processed.xlsx')

In [ ]:
# download file from Drive to your local machine
# files.download("Budget_processed.xlsx")

In [ ]:
# remove autofilers

sheet.auto_filter.ref = None
for i in range(2, sheet.max_row + 1):
    sheet.row_dimensions[i].hidden = False

wb.save('Budget_processed.xlsx')

In [ ]:
# after removing the autofilers

img = mpimg.imread('images/img_11.PNG')
plt.imshow(img)
plt.rcParams['figure.figsize'] = [12, 10]
plt.axis('off')
plt.show()

In [ ]:
# remove overview sheet
wb.remove(overview) 

# remove 'Department' sheet
wb.remove(wb[wb.sheetnames[1]]) 

print(wb.sheetnames)


# save the new workbook 
wb.save('Budget_processed.xlsx')

wb.close

In [ ]:
# download file from Drive to your local machine
# files.download("Budget_processed.xlsx")

Now we're havig our processed excel Budget_processed.xlsx, and we can proceed to Formating: font color, borders, conditional formating + charts

# Part 3: formating

# 8&nbsp;Formatting

## 8.1&nbsp;Load updated DF

In [ ]:
# load again the DF with updates 
df = pd.DataFrame(sheet.values)
df.head(15)

Create a folder images_format where to store images of formating

In [ ]:
cwd

In [ ]:
# new folder: images_format
folder = cwd + '/' + 'images_format'
# create the folder at the indicated path
os.makedirs(folder)
os.listdir()

In [ ]:
# upload from your local : images_format .png from your downloads
uploaded = files.upload()

In [ ]:
png_files=[]
for file in os.listdir():
    if file.endswith('.PNG'): # or '.csv' if your'looinkg for csv files
            png_files.append(file)

# move all images into folder MOdule_4/Images_format

folder = '/content/gdrive/MyDrive/Module_4/images_format'

for image in png_files:
  shutil.move(image, # file/folder to cut
              folder) # folder where to move

In [ ]:

os.listdir('images_format')

## 8.2&nbsp;Overview_df

In [ ]:
# rows of overview
over_rows = get_maximum_rows(sheet_object = overview) 
over_rows

In [ ]:
# overview df

# from df, substract the overview_df
overview_df = df.iloc[:over_rows+1, :]

# drop None columns, rows

# axis='columns' => for columns, if we want to take rows ==> axis='rows'
# how="all" => if all column is None 

print(overview_df.shape)
overview_df = overview_df.dropna(axis='columns', how='all') 
overview_df = overview_df.dropna(axis='rows', how='all') 
print('after drop', overview_df.shape)

overview_df

In [ ]:

# compute the range of the whole dataframe 
ov_max_row, ov_max_col = overview_df.shape
print('nb of rows :', max_row, 
      'nb of cols :', max_col)

# identify the cellrange for overview_df with .xl_range()

overview_range = xl_range(1, # starting row 
                          # as there is an empty row, + row for last month
                          0, # starting column
                          ov_max_row , # endrow  
                          ov_max_col - 1) # end col - 1
print(overview_range)

In [ ]:
# To keep track of locations, dimensions of the overview_df
# we'll add them into a dictionnary called locations
# so we can keep track of all variables reflecting our locations of overviex_df

locations = {'nb_rows' : ov_max_row, 
             'nb_cols': ov_max_col, 
             'overview_df_range': overview_range}
locations

In [ ]:
stop

#### Writer object

In [ ]:
# create an excel where we'll have previoous data formated

# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('Formating_Budget.xlsx', # the name of the new excel
                        engine='xlsxwriter', # Engine to use for writing
                        datetime_format='d mmm yy', # Format string for datetime objects written into Excel files
                        date_format='d mmm yy',) # Format string for dates written into Excel files

# Convert the dataframe to an XlsxWriter Excel object.
overview_df.to_excel(writer, # excel object
                     sheet_name= 'Formated' , # the name of the sheet where to copy the df
                     header=False,# no headers
                     index=False, # we don't want to have row indices in excel
                     index_label = False, # we don't want to have column indices in excel
                     startrow=1, # at what row to start copying
                     startcol=0) # at what columns to start copying

# Get the xlsxwriter objects from the dataframe writer object.
workbook = writer.book
worksheet = writer.sheets['Formated']

#  resize the sheet by adjusting the zoom
worksheet.set_zoom(50)

In [ ]:
# writer.save()
# workbook.close() # uncomment to close the wb if you want to download it and open it
# but if you close it, then you'll need to re-run the code for formating, from the creation of the writer object

In [ ]:
os.listdir()

In [ ]:
# download file from Drive to your local machine
# files.download("Formating_Budget.xlsx")

### Income and Expenditure

#### Merge Inc and Exp

To apply a format to a cell or a range we need first to defin the format we want to apply

Documentation
https://xlsxwriter.readthedocs.io/format.html#format

Tutorial adding a format:
https://xlsxwriter.readthedocs.io/tutorial02.html

In [ ]:
# define merge  format 
merge_ft = workbook.add_format({'bold': True,
                                'font_size': 14,    
                                'font_color':'black',
                                'font_name':'Colibri Light',    
                                'align': 'center',
                                'valign': 'vcenter' })

# Increase the row size of the merged cells to highlight the formatting.
worksheet.set_row(2, 20)

In [ ]:
'''
writer.save()
workbook.close()

# download file from Drive to your local machine
files.download("Formating_Budget.xlsx")
'''

In [ ]:
# the row we want to merge
merge = overview_df.iloc[1, :] 
merge

In [ ]:
# identify columns letters for INCOME in Excel

income_idx = [] # create an empty list where to store indices for INCOME

# iterate through a loop with enumerate (where we'll have the index and the value)
for idx, value in enumerate(merge, start=1):  # start the index from 1
    if value == 'INCOME': # if value = INCOME
           income_idx.append(idx) # the append in the income_idx list the index
            
print('the indices for INCOME in EXCEL are : ', income_idx)

# store the INCOME range (in columns) in excel style

income_col_range= get_column_letter(income_idx[0]) + str(':') + get_column_letter(income_idx[-1])
print('the column range for income in excel: ', income_col_range)

# add it to locations dictionnary so we can keep track of all identified locations

locations['INCOME columns range in excel']=income_col_range
locations

In [ ]:
# Identify the indices where the value changes

# Create the list where we 'll capture the cells that appear for 1st time,
# add the 1st index and start checking from 2nd index until end of df
startCells = [0]
for cell in range(2, len(merge)+1): # modify list if necessary
    if (merge [cell-1] != merge[cell-2]):
        startCells.append(cell-1)
startCells

Documentation for merginf cells with .merge_range() function

https://xlsxwriter.readthedocs.io/worksheet.html?highlight=merge#merge_range

In [ ]:
# define row index wheere to merge
row_index = 2 # row where to merge
lastCol = len(merge) # last idx of the merge range


# apply the merge as long the value remains the same
for IDX in startCells:
    try:
        endCol = startCells[startCells.index(IDX)+1]-1
        if IDX == endCol:
            #print(IDX, merge_df.columns[IDX], '1')
            worksheet.write(row_index, IDX, 
                            merge[IDX], # here the list to merge (merge)
                            merge_ft) 
        else:
            worksheet.merge_range(row_index, IDX, 
                                  row_index, endCol, 
                                  merge[IDX],  # here the list to merge
                                  merge_ft)  
    except IndexError:
        if IDX == lastCol:
            worksheet.write(row_index, IDX,
                            merge[IDX], # here the list to merge
                            merge_ft)
        else:
            worksheet.merge_range(row_index, IDX, row_index, lastCol-1,
                                  merge[IDX], # # here the list to merge
                                  merge_ft) # format to apply

In [ ]:
'''
writer.save()
workbook.close()

# download file from Drive to your local machine
files.download("Formating_Budget.xlsx")
'''

#### Color for merged cells: Income and Expenditure

In [ ]:
# define format for for merged cells

# Light red fill with dark red text for Expenditure
format1 = workbook.add_format({'bg_color': '#FFC7CE',
                               'font_color': '#9C0006'})

# Green fill with dark green text for Income
format2 = workbook.add_format({'bg_color': '#C6EFCE',
                               'font_color': '#006100'})

In [ ]:
# write a dictionary to keep track of all formats
formats = {'format1': 'Expenditure',
           'format2': 'Income'
          }

formats

To apply a format depending if it's Income or Expenditure we use conditional formatting

Some documentation on conditional formating

Conditional formating syntaxe and arguments:
https://xlsxwriter.readthedocs.io/worksheet.html#conditional_format

Conditional Formating method and their options:
https://xlsxwriter.readthedocs.io/working_with_conditional_formats.html#

Example of conditional formating:
https://xlsxwriter.readthedocs.io/example_conditional_format.html#ex-cond-format

In [ ]:
# identify merged cells range
merge_range = xl_range(row_index, 1, row_index, lastCol-1)

# add merge_range to our locations dictionnary 
locations['INCOME_EXP_row'] = merge_range
 
# apply format 2 for cells that contain Income
worksheet.conditional_format(merge_range, {'type': 'text', # type – are we formatting cells, 
        # numbers, text, ranking, average, duplicate or formula? See the picture below, 
                                           # the “type” refers to the “Rule Type”.
                                       'criteria': 'containing', # do we want to find the “greater/less than”, 
                                           # “contain” certain text, top items, etc
                                        'value': 'EXPENDITURE', # usually in conjuction with the criteria, “great than 7”, 
                                           # “between 5 and 7”, “above” average,
                                        'format': format1})

# apply format 2 for cells that contain Income
worksheet.conditional_format(merge_range, {'type': 'text',
                                       'criteria': 'containing',
                                        'value': 'INCOME',
                                        'format': format2})

In [ ]:
'''
writer.save()
workbook.close()

# download file from Drive to your local machine
files.download("Formating_Budget.xlsx")
'''

In [ ]:
# after removing the autofilers

img = mpimg.imread('images_format/img_2.PNG')
plt.imshow(img)
plt.rcParams['figure.figsize'] = [12, 10]
plt.axis('off')
plt.show()

### Month row

Apply a format to "Months row"

1. we want the whole row of 'Months' to be blue: we'll define the respective format 
2. we need to identify the cell location of this row without manual interviention
3. apply the defined format o identified range location

Format

In [ ]:
# format for Months Row
format3 = workbook.add_format({'bg_color': 'white', # background color
                               'font_color': 'blue'}) # font color

In [ ]:
# add to our new format to dictionnary 
formats['format3'] = 'Months_Row'
formats

Identify range location

In [ ]:
# reminder of overview_df
print('the overview_df range is', overview_range)

# reset_index
overview_df.reset_index(inplace=True, drop=True)
#overview_df = overview_df.drop('index', axis=1)
overview_df.head(10)

In [ ]:
# .. We need to locate the row nb 3 that have the string 'Month' in it

# write a function to compute automatically the location of a cell in a dataframe containing a specific string

def FindPositionsInDataframe(dfIn,findme):
    positions = []
    irow =0
    while ( irow < len(dfIn.index)):
        list_colPositions=dfIn.columns[dfIn.iloc[irow,:]==findme].tolist()   
        if list_colPositions != []:
            colu_iloc = dfIn.columns.get_loc(list_colPositions[0])
            positions.append([irow, colu_iloc])
        irow +=1

    return positions

# check if the function works
FindPositionsInDataframe(overview_df, 'Month')

# the result is a nested list: 1st row, 2nd col

In [ ]:
# to be able to use this location we'll save it in a variable called loc

loc = FindPositionsInDataframe(overview_df, 'Month')
month_row = loc[0][0]
month_row

In [ ]:
locations['Month_row'] = month_row
locations

Apply the defined format to the identified location

In [ ]:
# apply the form to row (in excel the 3rd row + 1 (because we have an additional row on the top))
worksheet.set_row(month_row + 1, # row numer
                  15, # row height
                  format3) # the format to apply

In [ ]:
'''
writer.save()
workbook.close()

# download file from Drive to your local machine
files.download("Formating_Budget.xlsx")

'''

In [ ]:
#

img = mpimg.imread('images_format/img_3.PNG')
plt.imshow(img)
plt.rcParams['figure.figsize'] = [12, 10]
plt.axis('off')
plt.show()

### Monthly Total

Conditional Formating steps

1. Define conditional formats
2. Identofy locations
3. Apply formats to identified locations

We want to format MonthlyTotal row from overview_df with conditional formating

INCOME
- if there Income  have a change between -0.4 and 0.4 from M2M ==> yellow
- if there Income  have a change > 0.4 ==> green
- if there Income  have a change < -0.4 ==> red

EXPENDITURE (ooposite)
- if there Income  have a change between -0.4 and 0.4 from M2M ==> yellow
- if there Income  have a change > 0.4 ==> red
- if there Income  have a change < -0.4 ==> green

#### Conditional Format

In [ ]:
# 1. define the formats for contional formatting

green_format = workbook.add_format({'bg_color': 'green'})
red_format = workbook.add_format({'bg_color': 'red'})
yellow_format = workbook.add_format({'bg_color': 'yellow'})

# add the new format to the formats dictionary

formats['green_format'] = 'if positive change in M2M ev'
formats['yellow_format'] = 'not significative change in M2M ev'
formats['red_format'] = 'if negative change in M2M ev'

formats

#### Range Location to apply the format

Firstly, we'll use the above row where we have Income and Expenditure row in the overview_df
Thanks to this row we'll be able to identify the range for INCOME / Expenditure columns ...
And therefore, to delimitate the columns relative to Income / Expenditure 

STEPS:

1. identify the row
2. identify the columns
3. compute at what index Income strings occur
4. translate the location in Excel location format

1. identify the row

In [ ]:
overview_df.head()

In [ ]:
# identofiy location in overview_df where string INCOME occurs for the 1st time

# 1 : identify the row
loc = FindPositionsInDataframe(overview_df, 'INCOME')
print(loc)
print('the row index in overview_df containing INCOME is: ', loc[0][0])
print('the col index in overview_df containing INCOME is: ', loc[0][1])

2. identify the columns

In [ ]:
# 2 Identify the columns

# 2.1 : create a list where we'll see the  all INCOME, and indices of all Expenditure

# select with .iloc method in the overview_df  the row =2 
inc_exp_list = overview_df.iloc[loc[0][0], :] # we'll obtain all the values of the 2nd row from overview_df

# store this row into a list 'inc_exp_list'
inc_exp_list = list(inc_exp_list)
inc_exp_list

3. compute at what index Income strings occur

In [ ]:
# 3 : identify indices only for INCOME

# identify the 'INCOME' column indices from this list "inc_exp_list"

search_idx = [] # create an empty list where to store the indices

# loop in the list inc_exp_list to identify cell containing the word INCOME
for idx in range(2, len(inc_exp_list)):
    if inc_exp_list[idx] == 'INCOME':  # if cell = INCOME
        search_idx.append(idx) # apend the index in the indices list 

print(search_idx)      
print('index where INCOME occures for the 1st time: ', search_idx[0])
print('index where INCOME occures for the last time: ', search_idx[-1])

4. translate the column index in Excel location format

In [ ]:
# use the identified locations to put them in excel format

# for Total Months on the 1st cell (1st index corresponding to January) we don't need to apply a format 
# so we add +1 to the index as the first element is Month 0 and we have nothing to compare with

print(search_idx[0]+1) # we'll get index 3

# get the respective column letter of this column with index 3
print(get_column_letter(search_idx[0]+1)) # column C

# index where to end
print(search_idx[-1]) # the last element of list with indices ==> we'll get 7

# get the respective column letter of the last column
print(get_column_letter(search_idx[-1])) # we'll get G

In [ ]:
# we have the column indices where to apply the conditional formating
# now we need to find the row location of 'MonthlyTotal' row where we'll apply the condition formating

FindPositionsInDataframe(overview_df, 'MonthlyTotal')[0][0] + 1 + 1 # because of the extra row

In [ ]:
# write the string that will represent the cell range in Excel style as 'C5:G5' named "cellrange"
# for this we need to combine the indentified references to construct that range : 
  # get_column_letter(search_idx[0]+1) ==> for the start column , well get C
  # FindPositionsInDataframe(overview_df, 'MonthlyTotal')[0][0] + 1) ==> for the start row ==> 5
  # string ":" ==> from C5:G5
  # get_column_letter(search_idx[-1]) ==> ==> for the end column , well get G
  # FindPositionsInDataframe(overview_df, 'MonthlyTotal')[0][0] + 1) ==> for the end row ==> the same 5
# concatenate all sub_strings to get the cellrange string  with Excel style format as 'C5:G5'

cellrange = str(get_column_letter(search_idx[0]+1)) +  \
str(FindPositionsInDataframe(overview_df, 'MonthlyTotal')[0][0] + 2)+  \
str(':') +  \
str(get_column_letter(search_idx[-1])) + \
str(FindPositionsInDataframe(overview_df, 'MonthlyTotal')[0][0] + 2) 

cellrange

In [ ]:
# add to lactions dictionnary

locations['MonthlyTotal range for Income without Total']= cellrange
locations

Conditional Formatting Examples

We want to apply conditional formating on identified range location... (named cellrange)

Documentation for Conditional Formating:

https://xlsxwriter.readthedocs.io/working_with_conditional_formats.html https://www.tutorialspoint.com/python_xlsxwriter/python_xlsxwriter_conditional_formatting.htm

Syntax:
Write a conditional format to range of cells....

conditional_format(first_row, first_col, last_row, last_col,
                   options)

Parameters:	

..for location : 

first_row (int) – The first row of the range. (All zero indexed.)
first_col (int) – The first column of the range.
last_row (int) – The last row of the range.
last_col (int) – The last col of the range.

..for formatting

options (dict) – Conditional formating options written with syntax as dictionnary {...}

Returns:	0: Success.
Returns:   -1: Row or column is out of worksheet bounds.
Returns:   -2: Incorrect parameter or option.

In [ ]:
# Example 1 conditional formatting based on a simple formula

# for the example create a workbook wb
wb = xlsxwriter.Workbook('conditional_formatting_1.xlsx')
# add a worksheet ws
ws = wb.add_worksheet()

# create dummy data for the example
data=[56,95,63,34,81,47,74,5,99,12]
row=0

# write the data in worksheet
for num in data:
        ws.write(row,0,num)
        row+=1

# define format
f1 = wb.add_format({'bg_color': '#D9D9D9', 'font_color': 'red'})

# define format
f1 = wb.add_format({'bg_color': '#D9D9D9', 'font_color': 'red'})

# apply conditional formatting
# We want to apply the format f1 to cells that are less then 50
ws.conditional_format(
   'A1:A10', # the range where to apply
    # options
    {'type':'cell', #  type option is a required. Possible values: cell, date, text, formula, etc
    'criteria':'<', # Criteria is alike a formula, it sets the condition by which the cell data will be evaluated
    'value':50, # Value parameter is the operand of the criteria that forms the rule 
    'format':f1 # format to apply
    })
    
#close wb                       
wb.close()

# download file from Drive to your local machine
# files.download("conditional_formatting_1.xlsx")

In [ ]:
# Example 2 of conditional formatting based on formula:

# for the example create a workbook wb
wb = xlsxwriter.Workbook('conditional_formatting_2.xlsx') 
# add a worksheet ws
ws = wb.add_worksheet()

# create dummy data for the example
data = [['Anil', 45, 55, 50], ['Ravi', 60, 70, 80],
        ['Kiran', 65, 75, 85], ['Karishma', 55, 65, 45]]
       
# write the data in worksheet
for row in range(len(data)):
      ws.write_row(row,0, data[row])

# define format
f2 = wb.add_format({'font_color': 'blue', 'bold':True})


# Apply conditional formatting
# We want to apply the format f3  to cellrange where the row's average is > 60
ws.conditional_format(
   'A1:D4', # the range where to apply
    # Conditional formating options 
    {'type':'formula', #  type option is a required. Possible values: cell, date, text, formula, etc
    'criteria':'=AVERAGE($B1:$D1)>=60', # Criteria is like a formula, 
     # it sets the condition by which the cell data will be evaluated
     # here the criteria stipulates if the row average is >=60
      #  !!!! please take note of the formula used in criteria 
      #  we use $ operand as we want to fix the reference ONLY for column B and D, 
      # so that it remains unchanged no matter where the formula moves
      # we do not fix row nb
     'format':f2 # format we want to aply if the crietria is satisfied
   })

# close the workbook
wb.close()

# download file from Drive to your local machine
# files.download("conditional_formatting_2.xlsx")

Back to our formatting...

For our identified callrange we want to apply:

1. yellow_format : if there Income have a change between [-0.4, 0.4] % from M2M
2. green_format : if there Income have a change > 0.4 %
3. red_format : if there Income have a change < 0.4 %

For the **criteria** parameter, we have to write the formula from the criteria in Excel style

...What we're looking for is to write the formula as a string as follow:

1. green : '=(C5-B5)/B5 > 0.004' ==> if the change from previous month in % (calculated as (C5-B5)/B5 greater 0.004
2. red: '=(C5-B5)/B5 < -0.004' ==> if the change from previous month in % (calculated as (C5-B5)/B5 less 0.004
3. yellow :  '=AND((C5-B5)/B5 >= -0.004, (C5-B5)/B5 <= 0.004)' ==> if the change from previous month in % s between [-0.004, 0.004]

What we need to do is to write in python the string of the formulas in Excel style:

1. gather all location elements (C5, 'B5')
2. concatenate them as a joined string : string = str1 + str2 +...
3. write only a single time the formula on the 1st cell 
4. make sure the formula syntax is correct, as it has to adapt dynamically to the cell reference

#### Location elements

What we need to do is to write in python the string of the formulas in Excel style:

1. gather all location elements (C5, 'B5')
2. concatenate them as a joined string : string = str1 + str2 +...
3. write only a single time the formula on the 1st cell 
4. make sure the formula syntax is correct, as it has to adapt dynamically to the cell reference

In [ ]:
# Concerning the row  Monthly Total, what locations we got so far ?? :

print('the range: ', cellrange)
print('indices of months where is Income: ', search_idx)
print('the column letter for the second month (February): ', get_column_letter(search_idx[0]+1))
print('the column letter for the last month: ', get_column_letter(search_idx[-1]))
print('Excel row nb where to apply the format: ' ,FindPositionsInDataframe(overview_df, 'MonthlyTotal')[0][0] + 1)

#### Formula string for criteria

In [ ]:
# Our formula for computing the change from M2M in % : 
### difference between the one month and the prior month
### devided by prior month
### dynamic formula will be (C5-B5)/B5

# the month we start with is February that have in our excel is at column C
# so the cell notation for our Income in February is:

month_ref = get_column_letter(search_idx[0]+1) + \
           str(FindPositionsInDataframe(overview_df, 'MonthlyTotal')[0][0] + 2)
print('Month Income ref: ', month_ref)

# the prior month to February that we have in our excel is at column B 
# so we need to extract -1 from column index to shift to the left with one column
# so the cell notation for our Income in January is:

prior_month_ref = get_column_letter(search_idx[0]) + \
           str(FindPositionsInDataframe(overview_df, 'MonthlyTotal')[0][0] + 2)
print('Month Income ref: ', prior_month_ref)

# now that we have the necessary locations, we can concatenate them into a string

change = '(' + month_ref + '-' + prior_month_ref + ')' + '/' + prior_month_ref
print('formula for monthly change in %: ', change)

In [ ]:
# Example how to write dynamically strings

# in quote marks write the text
# in braces symbol insert the variables that will change dynamically
# add .format() with variables 
my_string = "{a} is prior to {b}".format(a= 'January', b='February')
my_string

In [ ]:
# Write dynamically the formula string for criteria

                                                                           
low_threshold = -0.004
high_threshold = 0.004
 
# reproduce '=(C5-B5)/B5 > 0.004'
greater = "={a} > {b}".format(a= change, b=high_threshold)  
# reproduce '=(C5-B5)/B5 < 0.004'
lower = "={a} < {b}".format(a= change, b=high_threshold)  
# reproduce '=AND((C5-B5)/B5 >= -0.004, (C5-B5)/B5 <= 0.004)'
between = "=AND({a} >= {b} , {a} <= {c})".format(a= change, b=low_threshold,  c=high_threshold)

print(greater)
print(lower)
print(between)

#### Apply conditional formatting

In [ ]:
cellrange

In [ ]:
# apply the formatting for identified range (here Income)
worksheet.conditional_format(cellrange, # the range where to apply
                             {'type':   'formula', # apply to a cell that have formula
                              # between formula
                              'criteria': between,
                             'format':   yellow_format}) # apply the respective format

worksheet.conditional_format(cellrange,
                             {'type':   'formula',
                              # greater formula
                              'criteria': greater,
                              'format':   green_format})

worksheet.conditional_format(cellrange,
                             {'type':   'formula',
                              # lower formula
                              'criteria': lower,
                              'format':   red_format})

In [ ]:
# conditional formating

img = mpimg.imread('images_format/img_4.PNG')
plt.imshow(img)
plt.rcParams['figure.figsize'] = [12, 10]
plt.axis('off')
plt.show()

In [ ]:
'''
writer.save()
workbook.close()

# download file from Drive to your local machine
files.download("Formating_Budget.xlsx")

'''

The same thing for Exp

In [ ]:
# 3 : identify indices only for Exp

# identify the 'Exp' column indices from this list "inc_exp_list"

search_idx = [] # create an empty list where to store the indices

# loop in the list inc_exp_list to identify cell containing the word INCOME
for idx in range(2, len(inc_exp_list)):
    if inc_exp_list[idx] == 'Expenditure':  # if cell = EXPENDITURE
        search_idx.append(idx) # apend the index in the indices list 

print(search_idx)      
print('index where Exp occures for the 1st time: ', search_idx[0])
print('index where EXP occures for the last time: ', search_idx[-1])

In [ ]:
# Our formula for computing the change from M2M in % : 
### difference between the one month and the prior month
### devided by prior month
### dynamic formula will be (I5-H5)/H5

# the month we start with is February that have in our excel is at column C
# so the cell notation for our Exp in February is:

month_ref = get_column_letter(search_idx[0]+1) + \
           str(FindPositionsInDataframe(overview_df, 'MonthlyTotal')[0][0] + 2)
print('Month Income ref: ', month_ref)

# the prior month to February that we have in our excel is at column B 
# so we need to extract -1 from column index to shift to the left with one column
# so the cell notation for our Exp in January is:

prior_month_ref = get_column_letter(search_idx[0]) + \
           str(FindPositionsInDataframe(overview_df, 'MonthlyTotal')[0][0] + 2)
print('Month Income ref: ', prior_month_ref)

# now that we have the necessary locations, we can concatenate them into a string

change = '(' + month_ref + '-' + prior_month_ref + ')' + '/' + prior_month_ref
print('formula for monthly change in %: ', change)

In [ ]:
# Write dynamically the formula string for criteria

                                                                           
low_threshold = -0.004
high_threshold = 0.004
 
# reproduce '=(I5-H5)/H5 > 0.004'
greater = "={a} > {b}".format(a= change, b=high_threshold)  
# reproduce '=(I5-H5)/H5 < 0.004'
lower = "={a} < {b}".format(a= change, b=high_threshold)  
# reproduce '=AND((I5-H5)/H5 >= -0.004, ((I5-H5)/H5 <= 0.004)'
between = "=AND({a} >= {b} , {a} <= {c})".format(a= change, b=low_threshold,  c=high_threshold)

print(greater)
print(lower)
print(between)

In [ ]:
# cellrange for Exp
cellrange = str(get_column_letter(search_idx[0]+1)) +  \
str(FindPositionsInDataframe(overview_df, 'MonthlyTotal')[0][0] + 2)+  \
str(':') +  \
str(get_column_letter(search_idx[-1])) + \
str(FindPositionsInDataframe(overview_df, 'MonthlyTotal')[0][0] + 2) 

cellrange

In [ ]:
# apply conditional formating for Exp
worksheet.conditional_format(cellrange, # the range where to apply
                             {'type':   'formula', # apply to a cell that have formula
                              # between formula
                              'criteria': between,
                             'format':   yellow_format}) # apply the respective format

worksheet.conditional_format(cellrange,
                             {'type':   'formula',
                              # greater formula
                              'criteria': greater,
                              'format':   green_format})

worksheet.conditional_format(cellrange,
                             {'type':   'formula',
                              # lower formula
                              'criteria': lower,
                              'format':   red_format})

In [ ]:
# conditional formating Exp

img = mpimg.imread('images_format/img_5.PNG')
plt.imshow(img)
plt.rcParams['figure.figsize'] = [12, 10]
plt.axis('off')
plt.show()

In [ ]:
'''
writer.save()
workbook.close()

# download file from Drive to your local machine
files.download("Formating_Budget.xlsx")

'''

### M2M evol % format

In [ ]:
# define pct formating formatting
pct_format = workbook.add_format({'num_format': '0.00%', #the format of the %
                                  'font_size': 12, 
                                  'italic': True,
                                  'align': 'center', # horizontal align
                                  'valign': 'vcenter' }) # vertical align

# add new format to our formats dictionary
formats['pct_format'] = 'percentage'
formats

In [ ]:
# identify the row with M2M evol using the function FindPositionsInDataframe

loc = FindPositionsInDataframe(overview_df, 'M2M ev')
print('the row nb of M2M evol is: ', loc[0][0]+2)

# add to location dictionary

locations['M2M evol row'] = loc[0][0]+2
locations

In [ ]:
# apply the percentage format to row with set_row(row, height, format) 
# documentation : https://cxn03651.github.io/write_xlsx/worksheet.html#set_row

# apply the format on the whole row with .set_row() function
worksheet.set_row(loc[0][0] + 1 , # row numer in excel
                  None, # None do not change the row height
                  pct_format) # the format to apply

In [ ]:
# conditional formating Exp

img = mpimg.imread('images_format/img_6.PNG')
plt.imshow(img)
plt.rcParams['figure.figsize'] = [12, 10]
plt.axis('off')
plt.show()

In [ ]:
'''
writer.save()
workbook.close()

# download file from Drive to your local machine
files.download("Formating_Budget.xlsx")
'''

### Format numbers: separate thousands

In [ ]:
overview_df.head(7)

In [ ]:
# Set a number format for all columns between B:S
format4 = workbook.add_format({'num_format': '#,##0', # number format: no decimal, thousands separted by ,
                                   'font_size': 10})

# set the column width with set_column = 14, and apply the numeric format to thses columns
worksheet.set_column('B:O', 14, format4)

# add the format to our formats dictionary

formats['format4'] = 'numeric format for col B:O'
formats

In [ ]:
# find the row where business_df starts
business_row = FindPositionsInDataframe(overview_df, 'B2B')[0][0] + 1
business_row

In [ ]:
# compute the range of the whole dataframe 
business_col = overview_df.shape[1]
business_row_last = business_df.shape[0]

# the df range in excel 
business_range = xl_range(business_row, # starting row
                    1, # starting column
                    business_row_last + 2, 
                    business_col - 1)                 
business_range

In [ ]:
# business_df = business_df.set_index('Business')
business_df

In [ ]:
# apply the format with conditional formating if no blanks
worksheet.conditional_format(business_range, {'type': 'no_blanks',
                                     'format': format4})

In [ ]:
'''
writer.save()
workbook.close()

# download file from Drive to your local machine
files.download("Formating_Budget.xlsx")

'''

### Borders

#### Example of Borders

In [ ]:
# Example of Borders formating:

# for the example create a workbook wb
wb = xlsxwriter.Workbook('Borders.xlsx') 
# add a worksheet ws
ws = wb.add_worksheet()

# create dummy data for the example
data = [['Anil', 45, 55, 50], ['Ravi', 60, 70, 80], ['Rajish', None, None, 35],
        ['Kiran', None, None, 59], ['Karishma', 55, 65, 45]]
       
# write the data in worksheet (dataframe from row=2, and col=2)
for row in range(len(data)): # in the loop, first value assigned to row is 0, the last will be 3
      ws.write_row(row + 1,  # we add +1 because we want to write data starting the 2nd row
                   1, # starting column where we write data
                   data[row]) # item from data : ['Anil', 45, 55, 50], ['Ravi', 60, 70, 80]..

# close the workbook
wb.close()

# download file from Drive to your local machine
# files.download("Borders.xlsx")

To add borders to a cellrange already containing values we have to use conditional formatting

To add borders is like adding a  <i>format</i>   with main parameters:
<ol>
    <li>top</li>
    <li>bottom</li>
    <li>right</li>
    <li>left</li>
     ....
    <li> border_colors</li>
</ol>

BORDERS WITH NO BLANKS

In [ ]:
# for the example create a workbook wb
wb = xlsxwriter.Workbook('Borders.xlsx') 
# add a worksheet ws
ws = wb.add_worksheet()

# write the data in worksheet (dataframe from row=2, and col=2)
for row in range(len(data)):
      ws.write_row(row + 1,1, data[row])
        
ws.conditional_format('B2:E6', # the range where to apply borders
                              {'type': 'no_blanks', # apply borders for cells that are type no_blanks
                               'format': wb.add_format({'top': 1, #  apply top border with width 1
                                                        'bottom':1, #  apply bottom border with width 1
                                                         'right': 2, #  apply right border with width 2
                                                         'left' : 2, #  apply left border with width 2
                                                         'border_color': 'red'}) # border color red
                               })

# close the workbook
wb.close()

# download file from Drive to your local machine
# files.download("Borders.xlsx")

BORDERS WITH BLANKS

In [ ]:
# for the example create a workbook wb
wb = xlsxwriter.Workbook('Borders.xlsx') 
# add a worksheet ws
ws = wb.add_worksheet()

# write the data in worksheet (dataframe from row=2, and col=2)
for row in range(len(data)):
      ws.write_row(row + 1,1, data[row])
        
                        
ws.conditional_format('A1:E6', # the range where to apply borders, # enlarge the cellrange
                              {'type': 'blanks', # apply borders for cells of type "blanks"
                               'format': wb.add_format({'top':1, # apply top border with width 1
                                                        'bottom':1,
                                                        'right': 1,
                                                         'left' : 1,
                                                         'border_color': 'blue'})
                               })

# close the workbook
wb.close()
# files.download("Borders.xlsx")

TOP Border

In [ ]:
# top border

# for the example create a workbook wb
wb = xlsxwriter.Workbook('Borders.xlsx') 
# add a worksheet ws
ws = wb.add_worksheet()

# write the data in worksheet (dataframe from row=2, and col=2)
for row in range(len(data)):
      ws.write_row(row + 1,1, data[row])

ws.conditional_format('B2:E2',
                              {'type': 'formula', 'criteria': 'True',
                               'format': wb.add_format({'top': 2, 
                                                       'border_color': 'red'})
                               })

# close the workbook
wb.close()
# files.download("Borders.xlsx")

BOTTOM Border

In [ ]:
# bottom border

# for the example create a workbook wb
wb = xlsxwriter.Workbook('Borders.xlsx') 
# add a worksheet ws
ws = wb.add_worksheet()

# write the data in worksheet (dataframe from row=2, and col=2)
for row in range(len(data)):
      ws.write_row(row + 1,1, data[row])

ws.conditional_format('B6:E6',
                              {'type': 'formula', 'criteria': 'True',
                               'format': wb.add_format({'bottom': 2, 
                                                       'border_color': 'green'})
                               })

# close the workbook
wb.close()
# files.download("Borders.xlsx")

LEFT Bordert

In [ ]:
# for the example create a workbook wb
wb = xlsxwriter.Workbook('Borders.xlsx') 
# add a worksheet ws
ws = wb.add_worksheet()

# write the data in worksheet (dataframe from row=2, and col=2)
for row in range(len(data)):
      ws.write_row(row + 1,1, data[row])

ws.conditional_format('B2:B6',
                              {'type': 'formula', 'criteria': 'True',
                               'format': wb.add_format({'left': 2, 
                                                       'border_color': 'blue'})
                               })

# close the workbook
wb.close()
# files.download("Borders.xlsx")

RIGHT Border

In [ ]:
# for the example create a workbook wb
wb = xlsxwriter.Workbook('Borders.xlsx') 
# add a worksheet ws
ws = wb.add_worksheet()

# write the data in worksheet (dataframe from row=2, and col=2)
for row in range(len(data)):
      ws.write_row(row + 1,1, data[row])

ws.conditional_format('E2:E6',
                              {'type': 'formula', 'criteria': 'True',
                               'format': wb.add_format({'right': 2, 
                                                       'border_color': 'black'})
                               })

# close the workbook
wb.close()
# files.download("Borders.xlsx")

TOP + BOTTOM + LEFT + RIGHT

In [ ]:
# we want to superimpose a new format on another (add a newformat on the top of other)
# top + bottom border

# for the example create a workbook wb
wb = xlsxwriter.Workbook('Borders.xlsx') 
# add a worksheet ws
ws = wb.add_worksheet()

# write the data in worksheet (dataframe from row=2, and col=2)
for row in range(len(data)):
      ws.write_row(row + 1,1, data[row])


# top
ws.conditional_format('B2:E2',
                              {'type': 'formula', 'criteria': 'True',
                               'format': wb.add_format({'top': 1, 
                                                       'border_color': 'red'})
                               })

# bottom

ws.conditional_format('B6:E6',
                              {'type': 'formula', 'criteria': 'True',
                               'format': wb.add_format({'bottom': 1, 
                                                       'border_color': 'green'})
                               })


# right

ws.conditional_format('E2:E6',
                              {'type': 'formula', 'criteria': 'True',
                               'format': wb.add_format({'right': 1, 
                                                       'border_color': 'black'})
                               })


# left

ws.conditional_format('B2:B6',
                              {'type': 'formula', 'criteria': 'True',
                               'format': wb.add_format({'left': 1, 
                                                       'border_color': 'blue'})
                               })


# close the workbook
wb.close()

# files.download("Borders.xlsx")

# !!!! you CAN NOT ADD a NEW FORMAT ON AN EXISTING FORMAT !!!! It will ignore the corners

Function to drow a frame border

In [ ]:
# Function to drow a frame border

# draw a frame around an existing range of values 

# !!! this function is 0 indexed !!! (meaning the 1st row and column have index 0

def draw_frame_border(workbook, worksheet, first_row, first_col, rows_count, cols_count):

    # top left corner
    worksheet.conditional_format(first_row, first_col,
                                 first_row, first_col,
                                 {'type': 'formula', 'criteria': 'True',
                                  'format': workbook.add_format({'top': 1, 'left': 1})})
    # top right corner
    worksheet.conditional_format(first_row, first_col + cols_count - 1,
                                 first_row, first_col + cols_count - 1,
                                 {'type': 'formula', 'criteria': 'True',
                                  'format': workbook.add_format({'top': 1, 'right': 1})})
    # bottom left corner
    worksheet.conditional_format(first_row + rows_count - 1, first_col,
                                 first_row + rows_count - 1, first_col,
                                 {'type': 'formula', 'criteria': 'True',
                                  'format': workbook.add_format({'bottom': 1, 'left': 1})})
    # bottom right corner
    worksheet.conditional_format(first_row + rows_count - 1, first_col + cols_count - 1,
                                 first_row + rows_count - 1, first_col + cols_count - 1,
                                 {'type': 'formula', 'criteria': 'True',
                                  'format': workbook.add_format({'bottom': 1, 'right': 1})})

    # top
    worksheet.conditional_format(first_row, first_col + 1,
                                 first_row, first_col + cols_count - 2,
                                 {'type': 'formula', 'criteria': 'True', 'format': workbook.add_format({'top': 1})})
    
    # left
    worksheet.conditional_format(first_row + 1,              first_col,
                                 first_row + rows_count - 2, first_col,
                                 {'type': 'formula', 'criteria': 'True', 'format': workbook.add_format({'left': 1})})
    # bottom
    worksheet.conditional_format(first_row + rows_count - 1, first_col + 1,
                                 first_row + rows_count - 1, first_col + cols_count - 2,
                                 {'type': 'formula', 'criteria': 'True', 'format': workbook.add_format({'bottom': 1})})
    # right
    worksheet.conditional_format(first_row + 1,              first_col + cols_count - 1,
                                 first_row + rows_count - 2, first_col + cols_count - 1,
                                 {'type': 'formula', 'criteria': 'True', 'format': workbook.add_format({'right': 1})})

In [ ]:
# for the example create a workbook wb
wb = xlsxwriter.Workbook('Borders.xlsx') 
# add a worksheet ws
ws = wb.add_worksheet()

# write the data in worksheet (dataframe from row=2, and col=2)
for row in range(len(data)):
      ws.write_row(row + 1,1, data[row])

# B2:E5 cellrange
draw_frame_border(workbook= wb,
             worksheet= ws, 
             first_row = 1, # starting row (beacause is indexed 0, it will mean 2nd row)
             first_col = 1, # starting column (beacause is indexed 0, it will mean 2nd column)
             rows_count = 5 , # nb of rows to add, or last row (rows indexed from 0)
             cols_count = 4) # nb of columns to add, or last column (tcolumns indexed from 0)

# check that the range location is that we expect
print(xl_range(1,1, 5,4))

# close the workbook
wb.close()

# files.download("Borders.xlsx")

#### Frame border OVERVIEW_df

In [ ]:
locations['overview_range'] = overview_range
locations

Utility functions helpful for cell, range location
<ol>
    <li>xl_rowcol_to_cell(1, 2) ===> C2, converts a zero indexed to an C2 style string: </li>
    <li> xl_cell_to_rowcol('A1') ===> (0, 0), from Excel ref. converts to row nb and col nb</li>
    <li> xl_col_to_name(0) ===> A, converts number to column letter </li> 
    <li> xl_range(0, 0, 9, 0) ===> A1:A10, convert from sarting row, col to ending row, col to Excel reference
    <li>get_column_letter </li> 
     <li>column_index_from_string</li> 

</ol>

INCOME

In [ ]:
#### Compute the range for the frame border for INCOME

# ROWS

# 1st row
first_row = FindPositionsInDataframe(overview_df, 'INCOME')[0][0]
print(first_row)

# rows count
rows_count  = max_row- first_row + 1
print(rows_count)

# COLUMNS

# for column indices we're going to use inc_exp_list
print(inc_exp_list)

# columns

search_idx = [] # create an empty list where to store the indices
# loop in the list inc_exp_list to identify cell containing the word INCOME
for el in range(0, len(inc_exp_list)):
    if inc_exp_list[el] == 'INCOME':  # if cell = INCOME
        search_idx.append(el) # apend the index in the indices list 
print(search_idx)
print('index where INCOME occures for the 1st time: ', search_idx[0])
print('index where INCOME occures for the last time: ', search_idx[-1])

first_col = search_idx[0]
cols_count = search_idx[-1] - first_col + 1

#rows
print('start row', first_row)
print('rows to add', rows_count)

# columns
print('first col', first_col) #1st col
print('cols to add', cols_count) # last col

# check if he have the right coordinates

xl_range(first_row, # start row
         first_col, # start col
         rows_count, # rows count
         cols_count) # cols c

In [ ]:
# Income Borders

draw_frame_border(workbook= workbook,
                  worksheet= worksheet, 
                  first_row = first_row, 
                  first_col = first_col,
                  rows_count = rows_count, 
                  cols_count = cols_count)

In [ ]:
# Frame Border Income

img = mpimg.imread('images_format/img_10.PNG')
plt.imshow(img)
plt.rcParams['figure.figsize'] = [12, 10]
plt.axis('off')
plt.show()

In [ ]:
'''
writer.save()
workbook.close()

# download file from Drive to your local machine
files.download("Formating_Budget.xlsx")

'''

EXPENDITURE

In [ ]:
#### Compute the range for the frame border for INCOME

# ROWS

# 1st row
first_row = FindPositionsInDataframe(overview_df, 'Expenditure')[0][0]
print(first_row)

# rows count
rows_count  = max_row- first_row + 1
print(rows_count)

# COLUMNS

# for column indices we're going to use inc_exp_list
print(inc_exp_list)

# columns

search_idx = [] # create an empty list where to store the indices
# loop in the list inc_exp_list to identify cell containing the word Exp
for el in range(0, len(inc_exp_list)):
    if inc_exp_list[el] == 'Expenditure':  # if cell = Exp
        search_idx.append(el) # apend the index in the indices list 
print(search_idx)
print('index where INCOME occures for the 1st time: ', search_idx[0])
print('index where INCOME occures for the last time: ', search_idx[-1])

first_col = search_idx[0]
cols_count = search_idx[-1] - first_col + 1

#rows
print('start row', first_row)
print('rows to add', rows_count)

# columns
print('first col', first_col) #1st col
print('cols to add', cols_count) # last col

# check if he have the right coordinates

xl_range(first_row, # start row
         first_col, # start col
         rows_count, # rows count
         cols_count) # cols c

In [ ]:
# EXP Borders

draw_frame_border(workbook= workbook,
                  worksheet= worksheet, 
                  first_row = first_row, 
                  first_col = first_col,
                  rows_count = rows_count, 
                  cols_count = cols_count)

In [ ]:
# Frame Border Income

img = mpimg.imread('images_format/img_11.PNG')
plt.imshow(img)
plt.rcParams['figure.figsize'] = [12, 10]
plt.axis('off')
plt.show()

In [ ]:
'''
writer.save()
workbook.close()

# download file from Drive to your local machine
files.download("Formating_Budget.xlsx")

'''

### ROW Labels

In [ ]:
# column with indices as Month, Monthly Total Ev. M2M, ...

# nd_col_range == > 'A3:A10'
ind_col_range = xl_range(row_index  , # start row
                         0, # start com
                         max_row, # end row
                         0) # end col
ind_col_range

In [ ]:
# format for indices
format5 = workbook.add_format({'bg_color': 'white', # background color
                               'font_color': 'blue', 
                                'bold': True
                              }) #font col

In [ ]:
# Write the column headers with the defined format.
for row, value in enumerate(overview_df.iloc[:,0]):
    worksheet.write(row + 1, # on what row
                    0, # which column
                    value, # value to write
                    format5) # format to apply

In [ ]:
for row, value in enumerate(overview_df.iloc[:,0]):
  print(row+ 1, value)

In [ ]:
# apply the form to cellrange (here is the column with range 'A4:A10')
worksheet.set_column('A:A', # row to apply
                     18, # column width
                     None) # the format we want to apply

In [ ]:
# Rows labels

img = mpimg.imread('images_format/img_11.PNG')
plt.imshow(img)
plt.rcParams['figure.figsize'] = [12, 10]
plt.axis('off')
plt.show()

In [ ]:
'''
writer.save()
workbook.close()

# download file from Drive to your local machine
files.download("Formating_Budget.xlsx")

'''

## 8.3&nbsp;RAW DF processed

In [ ]:
# Put all sheet into a df

df.head(15)

### Add raw_df to excel

In [ ]:
# find location of cell containing Month string

print('location of reasearch word in df is...')
FindPositionsInDataframe(df, 'Business')

In [ ]:
raw_ind = FindPositionsInDataframe(df, 'Business')[0][0] 
# add raw_ind to locations dictionary

locations['starting row for raw_df'] = raw_ind
locations

In [ ]:
# create new df only with raw data ==> raw_df

# from initial, big df (with all data), select only data containing raw data
# raw data start at row 12 (variable raw_ind)
raw_df = df.iloc[raw_ind:,:] # slice df with .iloc from 12th row
print(raw_df.shape)
raw_df.head()

In [ ]:
# Convert the dataframe to an XlsxWriter Excel object.
raw_df.to_excel(writer, # excel object
                     sheet_name= 'Formated' , # the name of the sheet where to copy the df
                     header=False,# no headers
                     index=False, # we don't want to have row indices in excel
                     index_label = False, # we don't want to have column indices in excel
                     startrow=raw_ind, # at what row to start copying (it will be at row 12)
                     startcol=0) # at what columns to start copying

In [ ]:
'''
writer.save()
workbook.close()

# download file from Drive to your local machine
files.download("Formating_Budget.xlsx")

'''

### Format Total Income

In [ ]:
# define the format

# format for indices
format6 = workbook.add_format({'bg_color': '#AFFF80', # background color
                               'font_color': 'black', 
                               'font_size' : 10,
                                'bold': True,
                               'align': 'center',
                               'valign': 'vcenter',
                               'text_wrap': True # Text wrap option
                              }) 

formats['format6'] = 'format for Total Income col'

In [ ]:
# locate column for Total Income
print(FindPositionsInDataframe(raw_df, 'Total Income'))

# save the data of Total Income column
inc_total_col  = FindPositionsInDataframe(raw_df, 'Total Income')[0][1]
print(inc_total_col)

# check that the col is rightly located
raw_df.iloc[:, inc_total_col]

In [ ]:
# re-write the column for total Incom and apply in the same time the defined format6.

for row, value in enumerate(raw_df.iloc[:,inc_total_col]):
    worksheet.write(row + raw_ind, # on what row
                    inc_total_col, # which column
                    value, # value to write
                    format6) # format to apply

In [ ]:
'''
writer.save()
workbook.close()

# download file from Drive to your local machine
files.download("Formating_Budget.xlsx")

'''

### Format Total Expenditure

In [ ]:
# define the format

# format for indices
format7 = workbook.add_format({'bg_color': '#FF7377', # background color
                               'font_color': 'black', 
                               'font_size' : 10,
                                'bold': True,
                               'align': 'center',
                               'valign': 'vcenter',
                               'text_wrap': True # Text wrap option
                              }) 

formats['format7'] = 'format for Total Expenditure col'

In [ ]:
# locate column for Total Income
print(FindPositionsInDataframe(raw_df, 'Total Expenditure'))
exp_total_col  = FindPositionsInDataframe(raw_df, 'Total Expenditure')[0][1]
print(exp_total_col)

# check that the col is rightly located
raw_df.iloc[:, exp_total_col]

In [ ]:
# Write the column for total Incom with the defined format.

for row, value in enumerate(raw_df.iloc[:,exp_total_col]):
    worksheet.write(row + raw_ind, # on what row
                    exp_total_col, # which column
                    value, # value to write
                    format7) # format to apply

In [ ]:
'''
writer.save()
workbook.close()

# download file from Drive to your local machine
files.download("Formating_Budget.xlsx")

'''

### Format Net

In [ ]:
# locate column for Total Income
print(FindPositionsInDataframe(raw_df, 'Net'))
net_col  = FindPositionsInDataframe(raw_df, 'Net')[0][1]
print(net_col)

# check that the col is rightly located
raw_df.iloc[:, net_col]

In [ ]:
# conditional formating criteria (if less then 0)

excel_col_letter = get_column_letter(net_col+1)
print(excel_col_letter)

criteria = '=' + excel_col_letter + str(raw_ind+1) + ' < 0'
print(criteria)

In [ ]:
overview_df

In [ ]:
# net range
print(raw_ind)
print(raw_df.shape[0] + raw_ind)
net_range = excel_col_letter + str(raw_ind+1) + ':' + excel_col_letter + str(raw_df.shape[0] + raw_ind)

net_range

In [ ]:
# define formats

# format for indices
negative_format = workbook.add_format({'bg_color': '#ee9a9c', # background color
                               'font_color': 'black', 
                               'font_size' : 10,
                                'bold': True
                              }) #font color

In [ ]:
# apply the formatting for identified range 

worksheet.conditional_format(net_range, ## R12:R1949
                             {'type':   'formula',
                              'criteria': criteria,
                              'format':   negative_format})

In [ ]:
'''
writer.save()
workbook.close()

# download file from Drive to your local machine
files.download("Formating_Budget.xlsx")

'''

### Filters on headers

Apply Filter and format headers for raw_df, we want to have a dropdown row at headers level

In [ ]:
# set the row height for headers
worksheet.set_row(raw_ind, 20) # raw_ind 11

In [ ]:
# define the format
dropdown_ft = workbook.add_format({
                     'italic': True,
                     'bg_color': 'gray',
                     'font_size': 10,    
                     'font_color':'white',
                     'align': 'center',
                     'valign': 'vcenter',
                     'text_wrap': True, # Text wrap option
                     'font_name':'Calibri Light'
})

# add format to formats

formats['dropdown'] = 'headers of row_df with dropdown'

In [ ]:
# copy the values of the 1st row of raw_df
dropdown = raw_df.iloc[0,:]
dropdown

In [ ]:
# rewrite the values of dropdown in excel, and in same time apply the defined formats

for col_num, data in enumerate(dropdown):
    worksheet.write(raw_ind, col_num, data, dropdown_ft)

In [ ]:
# Apply the autofilter (dopdrown) based on the dimensions of the dataframe.
worksheet.autofilter(raw_ind,
                     0, 
                     raw_ind + raw_df.shape[0], 
                     raw_df.shape[1]-1)

In [ ]:
'''
writer.save()
workbook.close()

# download file from Drive to your local machine
files.download("Formating_Budget.xlsx")

'''

# Part 4: Charts

# 9&nbsp;Charts

In [ ]:
# we want to insert the chart 2 columns further the last col of overview_df

max_row, max_col = overview_df.shape
print(max_row)
get_column_letter(max_col + 2)

In [ ]:
# cell where o insert the chart

cell_insertion = str(get_column_letter(max_col + 2)) + str(1)
cell_insertion

## Bar Chart

In [ ]:
overview_df.head()

Utility functions helpful for cell, range location
<ol>
    <li>xl_rowcol_to_cell(1, 2) ===> C2, converts a zero indexed to an C2 style string: </li>
    <li> xl_cell_to_rowcol('A1') ===> (0, 0), from Excel ref. converts to row nb and col nb</li>
    <li> xl_col_to_name(0) ===> A, converts number to column letter </li> 
    <li> xl_range(0, 0, 9, 0) ===> A1:A10, convert from sarting row, col to ending row, col to Excel reference
    <li>get_column_letter </li> 
     <li>column_index_from_string</li> 

</ol>

In [ ]:
# looking to find cel ref for Total Income ==> H5
print('coordinateds for total Income ', FindPositionsInDataframe(overview_df, 'Total'))

total_inc_row= FindPositionsInDataframe(overview_df, 'Total')[0][0] + 2
total_inc_col= FindPositionsInDataframe(overview_df, 'Total')[0][1] 

print('row idx for Total Income', total_inc_row)
print('col idx for Total Income', total_inc_col)
print('cel ref Total Income', xl_rowcol_to_cell(total_inc_row, total_inc_col))

In [ ]:
values_total_income= xl_rowcol_to_cell(total_inc_row, total_inc_col)
print(values_total_income)

# cel ref with sheet name
values_total_income_ref =  "Formated!${a}${b}".format(a= values_total_income[0], b= values_total_income[1])
values_total_income_ref

In [ ]:
get_column_letter(overview_df.shape[1])

In [ ]:
# looking to find cel ref for Total Exp ==> O5
print('coordinateds for total Income ', FindPositionsInDataframe(overview_df, 'Total'))

total_exp_row= FindPositionsInDataframe(overview_df, 'Total')[0][0] + 2
total_exp_col= overview_df.shape[1] -1

print('row idx for Total Exp', total_exp_row)
print('col idx for Total Exp', total_exp_col)
print('cel ref Total Exp', xl_rowcol_to_cell(total_exp_row, total_exp_col))


values_total_exp= xl_rowcol_to_cell(total_exp_row, total_exp_col)
print(values_total_exp)

# cel ref with sheet name
values_total_exp_ref =  "Formated!${a}${b}".format(a= values_total_exp[0], b= values_total_exp[1])
values_total_exp_ref

In [ ]:
# bar chart 
chart_1 = workbook.add_chart({'type': 'column'})

# series for Income
chart_1.add_series({
   'name': '=Formated!$B$3',
   'categories': 'Formated!$A$5',
   'values': values_total_income_ref,
   'data_labels': {'value':True},
})
# series for Exp
chart_1.add_series({
   'name': '=Formated!$I$3',
   'categories': '=Formated!$A$6',
   'values': values_total_exp_ref,
   'data_labels': {'value':True},
})


worksheet.insert_chart(cell_insertion, # cell where to insert Q1
                       chart_1, 
                       chart_1.set_size({'width': 400, 'height': 220}))

# The default chart width x height is 480 x 288 pixels
# Same as:
#chart.set_size({'x_scale': 1, 'y_scale': 1})

chart_1.set_y_axis({'visible': False, 
                    'major_gridlines': {'visible': False}
                   })

# Add a chart title and some axis labels.
chart_1.set_title ({'name': 'Inc & Exp'})

# Turn off the X axis line.
chart_1.set_x_axis({'line': {'none': True}})

# legend position
chart_1.set_legend({'position': 'right'})


# Set an Excel chart style.
chart_1.set_style(10) # An index representing the chart style.(from 1 to 48 styles)

In [ ]:

writer.save()
workbook.close()

# download file from Drive to your local machine
files.download("Formating_Budget.xlsx")

In [ ]:
stop

## Pie Chart

### Income pie chart by depart

In [ ]:
# cell where o insert grapg

cell_insertion = str(get_column_letter(max_col + 9)) + str(1)
cell_insertion

In [ ]:
# looking to find cel ref for Total Income ==> H5
print('coordinateds for total Income ', FindPositionsInDataframe(overview_df, 'Total'))

total_inc_row= FindPositionsInDataframe(overview_df, 'Total')[0][0] + 2
total_inc_col= FindPositionsInDataframe(overview_df, 'Total')[0][1] 

print('row idx for Total Income', total_inc_row)
print('col idx for Total Income', total_inc_col)
print('cel ref Total Income', xl_rowcol_to_cell(total_inc_row, total_inc_col))

In [ ]:
# Create a new chart object.
#
chart_2 = workbook.add_chart({'type': 'pie'})

# Configure the series. Note the use of the list syntax to define ranges:
chart_2.add_series({'name': '=Formated!$B$3',
                   'categories': 'Formated!$A$7:$A$10',
                   'values': '=Formated!$O$7:$O$10',
                   'data_labels': {'value':True}
                   
                    })

chart_2.set_y_axis({'visible': False, 
                    'major_gridlines': {'visible': False}
                   })

# Add a chart title and some axis labels.
chart_2.set_title ({'name': 'Income by Business'})

# Turn off the X axis line.
chart_2.set_x_axis({'line': {'none': True}})

# legend position
chart_2.set_legend({'position': 'bottom'})

# Set an Excel chart style. Colors with white outline and shadow.
chart_2.set_style(11)

# Insert the chart into the worksheet (with an offset).
worksheet.insert_chart(cell_insertion, chart_2, chart_2.set_size({'width': 380, 'height': 290}))

## Line Chart

In [ ]:

# if you we want to name the sheet with the date of the processed
# get reports report date
from datetime import datetime

# compute todays date
report_DT = datetime.today().strftime('%d-%b-%y')
print(report_DT)

# rename worksheet

worksheet.name = report_DT